configurations/anrd-flows.json
[{"id":"f6047c61.0615c","type":"tab","label":"Demos","disabled":false,"info":""},{"id":"55e72d8e.2176e4","type":"tab","label":"AP","disabled":false,"info":""},{"id":"9a754cd4.5dac18","type":"tab","label":"WW Flows","disabled":false,"info":""},{"id":"4989eed2.5b9ec","type":"tab","label":"WA Flows","disabled":false,"info":""},{"id":"6b9b381b.932718","type":"tab","label":"AA Flows","disabled":false,"info":""},{"id":"24364638.e5cdf2","type":"tab","label":"Minikube","disabled":false,"info":""},{"id":"e32d81ff.2640c8","type":"subflow","name":"WC: Send Msg","info":"","in":[{"x":60,"y":100,"wires":[{"id":"6305cef.f5f9eb"}]}],"out":[{"x":1300,"y":120,"wires":[{"id":"3621d5c1.45e592","port":0}]}]},{"id":"bb593e9e.602e8","type":"agilite-login","z":"","serverType":"1","server":"https://api.agilite.io","name":"Jardin","username":"john.jardin@gmail.com"},{"id":"27f51d3b.e08d12","type":"agilite-login","z":"","serverType":"1","server":"https://api.agilite.io","name":"Ace Packaging","username":"agilite@acepackaging.co.za"},{"id":"9787557a.d403e8","type":"fullsplitter","z":"f6047c61.0615c","name":"Trigger Array","property":"numberArray","x":570,"y":200,"wires":[[],[]]},{"id":"1c14ab43.8c4ec5","type":"inject","z":"f6047c61.0615c","name":"Run Load Balance Test","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":166.5,"y":87.25,"wires":[["bde713ed.632358"]]},{"id":"cdf3fc59.abe37","type":"function","z":"f6047c61.0615c","name":"Setup Array Loop","func":"msg.numberArray = [];\n\nfor(var x = 0, y = 10; x < y; x++){\n    msg.numberArray.push(x);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":338.5,"y":149.75,"wires":[["9787557a.d403e8"]]},{"id":"bde713ed.632358","type":"numbering","z":"f6047c61.0615c","server":"bb593e9e.602e8","profileKey":"test_no","name":"Test Number","x":722.5,"y":76.5,"wires":[["7aca70b2.f0753"]]},{"id":"7aca70b2.f0753","type":"debug","z":"f6047c61.0615c","name":"","active":true,"console":"false","complete":"true","x":714.5,"y":168.5,"wires":[]},{"id":"7386421f.80d024","type":"http in","z":"55e72d8e.2176e4","name":"AP: Submit Logs","url":"/ace/logs","method":"post","upload":false,"swaggerDoc":"","x":183.5,"y":121.25,"wires":[["498d9889.b44458"]]},{"id":"498d9889.b44458","type":"function","z":"55e72d8e.2176e4","name":"AP: Prep Data","func":"msg.payload = msg.req.body;\nmsg.rep = msg.payload.user;\n//msg.rep = \"John\";\nmsg.html = \"\";\n\n// msg.payload = {\n//     \"profileKey\": \"test\",\n//     \"user\": \"John\",\n//     \"data\": [\n//         {\n//             \"date\": \"2017-11-21T13:22:24+02:00\",\n//             \"processId\": \"1511263344902\",\n//             \"uri\": \"lib/serviceCalls.js\",\n//             \"method\": \"syncWithServer\",\n//             \"body\": {},\n//             \"responseCode\": 200,\n//             \"response\": \"Success\",\n//             \"logs\": \"[{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"New Date Time = 2017-11-21 13:22:24\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Performing Full Sync\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"DB Version Changed - Re-creating Tables\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetStores = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetStores - Successful - Batch: 1 - Count: 370\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetDepartments = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetDepartments - Successful - Batch: 1 - Count: 1782\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetStockItems = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetStockItems - Successful - Batch: 1 - Count: 1816\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetPriceLists = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetPriceLists - Successful - Batch: 1 - Count: 9861\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetContractPricesIqRetail = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetContractPricesIqRetail - Successful - Batch: 1 - Count: 2620\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetStoreDepartmentItems = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetStoreDepartmentItems - Successful - Batch: 1 - Count: 57\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetOrderHeaders = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetOrderHeaders - Successful - Batch: 1 - Count: 29\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetOrderItems = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetOrderItems - Successful - Batch: 1 - Count: 163\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetStoreInfo = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetStoreInfo - Successful - Batch: 1 - Count: 948\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Sync Completed\\\"}]\"\n//         },\n//         {\n//             \"date\": \"2017-11-21T13:22:24+02:00\",\n//             \"processId\": \"1511263344902\",\n//             \"uri\": \"lib/serviceCalls.js\",\n//             \"method\": \"syncWithServer\",\n//             \"body\": {},\n//             \"responseCode\": 200,\n//             \"response\": \"Success\",\n//             \"logs\": \"[{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"New Date Time = 2017-11-21 13:22:24\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Performing Full Sync\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"DB Version Changed - Re-creating Tables\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetStores = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetStores - Successful - Batch: 1 - Count: 370\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetDepartments = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetDepartments - Successful - Batch: 1 - Count: 1782\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetStockItems = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetStockItems - Successful - Batch: 1 - Count: 1816\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetPriceLists = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetPriceLists - Successful - Batch: 1 - Count: 9861\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetContractPricesIqRetail = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetContractPricesIqRetail - Successful - Batch: 1 - Count: 2620\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetStoreDepartmentItems = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetStoreDepartmentItems - Successful - Batch: 1 - Count: 57\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetOrderHeaders = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetOrderHeaders - Successful - Batch: 1 - Count: 29\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetOrderItems = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetOrderItems - Successful - Batch: 1 - Count: 163\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetStoreInfo = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetStoreInfo - Successful - Batch: 1 - Count: 948\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Sync Completed\\\"}]\"\n//         },\n//         {\n//             \"date\": \"2017-11-21T13:22:24+02:00\",\n//             \"processId\": \"1511263344902\",\n//             \"uri\": \"lib/serviceCalls.js\",\n//             \"method\": \"syncWithServer\",\n//             \"body\": {},\n//             \"responseCode\": 200,\n//             \"response\": \"Success\",\n//             \"logs\": \"[{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"New Date Time = 2017-11-21 13:22:24\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Performing Full Sync\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"DB Version Changed - Re-creating Tables\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetStores = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetStores - Successful - Batch: 1 - Count: 370\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetDepartments = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetDepartments - Successful - Batch: 1 - Count: 1782\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetStockItems = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetStockItems - Successful - Batch: 1 - Count: 1816\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetPriceLists = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetPriceLists - Successful - Batch: 1 - Count: 9861\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetContractPricesIqRetail = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetContractPricesIqRetail - Successful - Batch: 1 - Count: 2620\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetStoreDepartmentItems = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetStoreDepartmentItems - Successful - Batch: 1 - Count: 57\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetOrderHeaders = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetOrderHeaders - Successful - Batch: 1 - Count: 29\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetOrderItems = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetOrderItems - Successful - Batch: 1 - Count: 163\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetStoreInfo = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetStoreInfo - Successful - Batch: 1 - Count: 948\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Sync Completed\\\"}]\"\n//         }        \n//     ]\n// };\n\nmsg.payload.raw = JSON.stringify(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":447.5,"y":121.75,"wires":[["c876b53c.7d453"]]},{"id":"2bd502d3.259d7e","type":"template","z":"55e72d8e.2176e4","name":"AP: Generate Mail Template","field":"html","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":450.5,"y":532.75,"wires":[[]]},{"id":"3528c84f.194a18","type":"catch","z":"55e72d8e.2176e4","name":"AP: Catch Errors","scope":null,"x":1085,"y":101,"wires":[["b2a5d1c5.73c4b8"]]},{"id":"b2a5d1c5.73c4b8","type":"function","z":"55e72d8e.2176e4","name":"AP: Prepare Error Log","func":"msg.payload = {\n    success:false,\n    title:msg.error.message,\n    data:msg.error.source\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1207.1429443359375,"y":155.28594970703125,"wires":[["2bfa42d9.e02c9e"]]},{"id":"b5ef041c.054a9","type":"link in","z":"55e72d8e.2176e4","name":"AP: Return HTTP Result","links":["2bfa42d9.e02c9e","eaf22e4f.703db"],"x":935,"y":321,"wires":[["e5ef2cf9.04eff","80eafe8f.0d0c88"]]},{"id":"e5ef2cf9.04eff","type":"http response","z":"55e72d8e.2176e4","name":"AP: HTTP Result","statusCode":"","headers":{},"x":1155.71435546875,"y":320.28570556640625,"wires":[]},{"id":"80eafe8f.0d0c88","type":"debug","z":"55e72d8e.2176e4","name":"AP: Debug Result","active":true,"console":"false","complete":"true","x":1158.5714111328125,"y":275.99981689453125,"wires":[]},{"id":"f0f8b13d.74b5c","type":"comment","z":"55e72d8e.2176e4","name":"AP: Finalize","info":"","x":1133.7142333984375,"y":231.42822265625,"wires":[]},{"id":"2bfa42d9.e02c9e","type":"link out","z":"55e72d8e.2176e4","name":"AP: Run Return HTTP Result","links":["b5ef041c.054a9"],"x":1313.571533203125,"y":93.50018310546875,"wires":[]},{"id":"eaf22e4f.703db","type":"link out","z":"55e72d8e.2176e4","name":"AP: Run Return HTTP Result","links":["b5ef041c.054a9"],"x":856.5,"y":257.5,"wires":[]},{"id":"aa9f29db.4fc86","type":"function","z":"55e72d8e.2176e4","name":"AP: Finalize","func":"if(msg.agilite.success){\n    msg.payload = {\n        success:true,\n        messages:[],\n        data:{}   \n    };\n}else{\n    return node.error(JSON.stringify(msg.agilite.messages[0]), msg);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":863.5,"y":176.75,"wires":[["eaf22e4f.703db"]]},{"id":"9321fecc.8a81d8","type":"comment","z":"55e72d8e.2176e4","name":"AP: Submit Logs to via Mail to John","info":"","x":560,"y":48,"wires":[]},{"id":"b2c8bfd1.d25dc8","type":"inject","z":"55e72d8e.2176e4","name":"AP: Trigger","topic":"","payload":"{\"profileKey\":\"test\",\"user\":\"John\",\"data\":[{\"date\":\"2017-11-21T13:22:24+02:00\",\"processId\":\"1511263344902\",\"uri\":\"lib/serviceCalls.js\",\"method\":\"syncWithServer\",\"body\":{},\"responseCode\":200,\"response\":\"Success\",\"logs\":\"[{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"New Date Time = 2017-11-21 13:22:24\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Performing Full Sync\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"DB Version Changed - Re-creating Tables\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetStores = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetStores - Successful - Batch: 1 - Count: 370\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetDepartments = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetDepartments - Successful - Batch: 1 - Count: 1782\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetStockItems = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetStockItems - Successful - Batch: 1 - Count: 1816\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetPriceLists = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetPriceLists - Successful - Batch: 1 - Count: 9861\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetContractPricesIqRetail = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetContractPricesIqRetail - Successful - Batch: 1 - Count: 2620\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetStoreDepartmentItems = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetStoreDepartmentItems - Successful - Batch: 1 - Count: 57\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetOrderHeaders = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetOrderHeaders - Successful - Batch: 1 - Count: 29\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetOrderItems = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetOrderItems - Successful - Batch: 1 - Count: 163\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Date Last Syncd for GetStoreInfo = 0\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"GetStoreInfo - Successful - Batch: 1 - Count: 948\\\"},{\\\"status\\\":\\\"info\\\",\\\"description\\\":\\\"Sync Completed\\\"}]\"}]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":104.5,"y":267.25,"wires":[["c876b53c.7d453"]]},{"id":"138bd9db.038456","type":"function","z":"55e72d8e.2176e4","name":"AP: Prep Mail","func":"if(msg.agilite.success){\n    msg.payload = {\n        rep:msg.rep,\n        html:msg.payload\n    };\n}else{\n    return node.error(JSON.stringify(msg.agilite.messages[0]), msg);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":176,"wires":[["5dff58c4.e3a648"]]},{"id":"5dff58c4.e3a648","type":"connectors","z":"55e72d8e.2176e4","server":"27f51d3b.e08d12","profileKey":"imap","routeKey":"send_mail","name":"AP: Send Mail","x":708.5,"y":252,"wires":[["aa9f29db.4fc86"]]},{"id":"c876b53c.7d453","type":"templates","z":"55e72d8e.2176e4","server":"27f51d3b.e08d12","profileKey":"log_mail","name":"AP: Generate Mail Template","x":408.5,"y":249,"wires":[["138bd9db.038456"]]},{"id":"52e96305.873554","type":"http in","z":"9a754cd4.5dac18","name":"WW: Webhook","url":"/api/ww/execute","method":"post","upload":false,"swaggerDoc":"","x":120,"y":120,"wires":[["73b09d10.18ef5c"]]},{"id":"73b09d10.18ef5c","type":"function","z":"9a754cd4.5dac18","name":"WW: Determine Msg Type","func":"msg.ww = msg.payload;\nmsg.ww.reponse = null;\n\nif((msg.ww.type !== \"message-annotation-added\" && msg.ww.type !== \"message-created\" && msg.payload.type !== \"verification\") || msg.ww.content === \"\"){\n    msg.ww.type = \"\";\n}else{\n    if(msg.ww.type === \"message-annotation-added\"){\n        msg.ww.annotationPayload = JSON.parse(msg.ww.annotationPayload);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["1354bf91.447198"]]},{"id":"1354bf91.447198","type":"switch","z":"9a754cd4.5dac18","name":"WW: Check Req Type","property":"ww.type","propertyType":"msg","rules":[{"t":"eq","v":"verification","vt":"str"},{"t":"eq","v":"message-created","vt":"str"},{"t":"eq","v":"message-annotation-added","vt":"str"},{"t":"else"}],"checkall":"false","outputs":4,"x":640,"y":120,"wires":[["17bfcf4c.ac7009"],["a744e1e9.f83228","f01b2a1b.200e88"],["4758e725.383eb","f01b2a1b.200e88"],["f01b2a1b.200e88"]]},{"id":"88187812.fb3fd8","type":"connectors","z":"9a754cd4.5dac18","server":"bb593e9e.602e8","profileKey":"ww_agilite","routeKey":"challenge","name":"WW: Challenge Request","x":230,"y":220,"wires":[["f8721336.fffb9"]]},{"id":"f8721336.fffb9","type":"function","z":"9a754cd4.5dac18","name":"WW: Provide Response Header","func":"if(msg.agilite.success){\n    //Set outbound Header\n    if(!msg.headers)\n       msg.headers = {};\n        \n    msg.headers[\"X-OUTBOUND-TOKEN\"] = msg.payload.token;\n    msg.payload = {response:msg.payload.response};\n}else{\n    return node.error(JSON.stringify(msg.agilite.messages[0]), msg);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":220,"wires":[["856e8525.481a7","3294bba2.c4eb9c"]]},{"id":"396ed551.2ff5ba","type":"catch","z":"9a754cd4.5dac18","name":"WW: Catch Errors","scope":null,"x":1130,"y":100,"wires":[["d53d692b.6d327"]]},{"id":"d53d692b.6d327","type":"function","z":"9a754cd4.5dac18","name":"WW: Prepare Error Log","func":"msg.payload = {\n    success:false,\n    title:msg.error.message,\n    data:msg.error.source\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1252.1429443359375,"y":154.28594970703125,"wires":[["428987c7.cf6a4"]]},{"id":"4590ed50.5c7cf4","type":"link in","z":"9a754cd4.5dac18","name":"WW: HTTP Result","links":["856e8525.481a7","f01b2a1b.200e88"],"x":1035,"y":320,"wires":[["e6acfa76.4c3c"]]},{"id":"e6acfa76.4c3c","type":"http response","z":"9a754cd4.5dac18","name":"WW: HTTP Result","statusCode":"","headers":{},"x":1190.71435546875,"y":319.28570556640625,"wires":[]},{"id":"4a3d17a5.e4bec","type":"debug","z":"9a754cd4.5dac18","name":"WW: Debug Result","active":true,"console":"false","complete":"true","x":1190,"y":280,"wires":[]},{"id":"a130ae77.229838","type":"comment","z":"9a754cd4.5dac18","name":"WW: Finalize","info":"","x":1168.7142333984375,"y":230.42822265625,"wires":[]},{"id":"428987c7.cf6a4","type":"link out","z":"9a754cd4.5dac18","name":"WW: Run Debug Result","links":["1810e51f.3d3ddb"],"x":1348.571533203125,"y":92.50018310546875,"wires":[]},{"id":"93166bff.c5f478","type":"comment","z":"9a754cd4.5dac18","name":"WW: Challenge Request","info":"- Accepts the Challenge request and provides the response\n- Triggers the generation of the OAuth Token","x":150,"y":180,"wires":[]},{"id":"1fe85c81.5a2f83","type":"link in","z":"9a754cd4.5dac18","name":"WW: Challenge Request","links":["17bfcf4c.ac7009"],"x":55,"y":220,"wires":[["88187812.fb3fd8"]]},{"id":"856e8525.481a7","type":"link out","z":"9a754cd4.5dac18","name":"WW: Run HTTP Result","links":["4590ed50.5c7cf4"],"x":735,"y":200,"wires":[]},{"id":"17bfcf4c.ac7009","type":"link out","z":"9a754cd4.5dac18","name":"WW: Run Challenge Request","links":["1fe85c81.5a2f83"],"x":835,"y":40,"wires":[]},{"id":"3cac040b.bdb1bc","type":"comment","z":"9a754cd4.5dac18","name":"WW: Generated OAuth","info":"- WW OAuth Token expires every 1 hour.\n- To be safe, we generate the token every 45 minutes","x":140,"y":280,"wires":[]},{"id":"cb906959.4bc2d8","type":"link in","z":"9a754cd4.5dac18","name":"WW: Generate OAuth","links":["3294bba2.c4eb9c"],"x":295,"y":360,"wires":[["9b186bfc.5d8588"]]},{"id":"3294bba2.c4eb9c","type":"link out","z":"9a754cd4.5dac18","name":"WW: Run Generate OAuth","links":["cb906959.4bc2d8"],"x":735,"y":240,"wires":[]},{"id":"7f8fc69f.eec9d","type":"inject","z":"9a754cd4.5dac18","name":"WW: Gen OAuth every 45 Min","topic":"","payload":"{}","payloadType":"json","repeat":"2700","crontab":"","once":true,"x":170,"y":320,"wires":[["9b186bfc.5d8588"]]},{"id":"9b186bfc.5d8588","type":"connectors","z":"9a754cd4.5dac18","server":"bb593e9e.602e8","profileKey":"ww_agilite","routeKey":"oauth","name":"WW: Generate OAuth","x":460,"y":320,"wires":[["587b33f9.480a74"]]},{"id":"587b33f9.480a74","type":"link out","z":"9a754cd4.5dac18","name":"WW: Run Debug Result","links":["1810e51f.3d3ddb"],"x":635,"y":320,"wires":[]},{"id":"a744e1e9.f83228","type":"link out","z":"9a754cd4.5dac18","name":"WW: Run Msg Created","links":["e31337bc.0d3a28"],"x":835,"y":80,"wires":[]},{"id":"f01b2a1b.200e88","type":"link out","z":"9a754cd4.5dac18","name":"WW: Run HTTP Result","links":["4590ed50.5c7cf4"],"x":835,"y":160,"wires":[]},{"id":"3b377125.79f2fe","type":"comment","z":"9a754cd4.5dac18","name":"WW: Watson Workspace Webhook","info":"Watson Workspace will trigger flows through this Webhook","x":180,"y":80,"wires":[]},{"id":"9dffada6.581ec","type":"comment","z":"9a754cd4.5dac18","name":"WW: Send Reply","info":"","x":120,"y":620,"wires":[]},{"id":"982b4baa.4e5568","type":"link in","z":"9a754cd4.5dac18","name":"WW: Reply","links":["f2df00b.a4943"],"x":55,"y":660,"wires":[["dc3cfa78.a7d77"]]},{"id":"6f9e8711.159df","type":"connectors","z":"9a754cd4.5dac18","server":"bb593e9e.602e8","profileKey":"ww_agilite","routeKey":"send","name":"WW: Send Reply","x":450,"y":640,"wires":[["cc2ae95b.d573c"]]},{"id":"e725f3b4.1e41c8","type":"function","z":"9a754cd4.5dac18","name":"WW: Prep Msg Created Reply","func":"//Finalize logic\nvar extendedMessage = \"\";\n\nif(msg.wc.messageExamples && msg.wc.messageExamples.length > 0){\n    extendedMessage = \"\\ne.g. \";\n    extendedMessage += \"`\" + msg.wc.messageExamples.join(\"` - `\") + \"`\";\n    \n    msg.wc.responseMessage += extendedMessage;\n}\n\nif(msg.wc.titleExamples && msg.wc.titleExamples.length > 0){\n    extendedMessage = \": ACTIONS = \";\n    extendedMessage += \"( \" + msg.wc.titleExamples.join(\" / \") + \" )\";\n\n    msg.wc.responseTitle += extendedMessage;\n}    \n\n//Create Final Payload\nmsg.payload = {\n    spaceId:msg.ww.spaceId,\n    title:msg.wc.responseTitle,\n    message:msg.wc.responseMessage\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":440,"wires":[["f2df00b.a4943"]]},{"id":"cc2ae95b.d573c","type":"link out","z":"9a754cd4.5dac18","name":"WW: Run Debug Result","links":["1810e51f.3d3ddb"],"x":635,"y":660,"wires":[]},{"id":"dc3cfa78.a7d77","type":"switch","z":"9a754cd4.5dac18","name":"WW: Check Reply","property":"payload.message","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":210,"y":660,"wires":[["6f9e8711.159df"],["cc2ae95b.d573c"]]},{"id":"1810e51f.3d3ddb","type":"link in","z":"9a754cd4.5dac18","name":"WW: Debug Result","links":["428987c7.cf6a4","587b33f9.480a74","cc2ae95b.d573c"],"x":1035,"y":280,"wires":[[]]},{"id":"bf9e3c79.49416","type":"comment","z":"9a754cd4.5dac18","name":"WW: Msg Created","info":"","x":130,"y":400,"wires":[]},{"id":"e31337bc.0d3a28","type":"link in","z":"9a754cd4.5dac18","name":"WW: Msg Created","links":["a744e1e9.f83228"],"x":55,"y":440,"wires":[["6391b23a.2b8b5c"]]},{"id":"6391b23a.2b8b5c","type":"function","z":"9a754cd4.5dac18","name":"WW: Prep Msg Created","func":"msg.wc = {\n    triggerWords:\"watson,waston\",\n    workspaceId:\"8c9399aa-c68a-42e1-8c09-ee3feb935bf6\",\n    workflowStep:\"\",\n    performAction:\"\",\n    cacheId:msg.ww.spaceId + msg.ww.userId,\n    context:JSON.stringify({userId:msg.ww.userId, username:msg.ww.userName}),\n    message:msg.ww.content,\n    responseTitle:\"\",\n    responseMessage:\"\",\n    messageExamples:[],\n    titleExamples:[]\n};\n\nmsg.payload = msg.wc;\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":440,"wires":[["1a18cdde.e83fea"]]},{"id":"f2df00b.a4943","type":"link out","z":"9a754cd4.5dac18","name":"WW: Run Reply","links":["982b4baa.4e5568"],"x":915,"y":440,"wires":[]},{"id":"a180c49e.29c64","type":"comment","z":"9a754cd4.5dac18","name":"WW: Msg Annotation Added","info":"","x":160,"y":500,"wires":[]},{"id":"48aef157.b01f2","type":"link in","z":"9a754cd4.5dac18","name":"WW: Msg Annotation Added","links":["4758e725.383eb"],"x":55,"y":540,"wires":[[]]},{"id":"4758e725.383eb","type":"link out","z":"9a754cd4.5dac18","name":"WW: Run Msg Annotation Added","links":["48aef157.b01f2"],"x":835,"y":120,"wires":[]},{"id":"3bc04c8a.b43fe4","type":"http in","z":"4989eed2.5b9ec","name":"WA: Webhook","url":"/api/wa/execute","method":"post","upload":false,"swaggerDoc":"","x":110,"y":120,"wires":[["2d563d99.2c5e22"]]},{"id":"d6084f48.aed7d","type":"catch","z":"4989eed2.5b9ec","name":"WA: Catch Errors","scope":null,"x":1080,"y":100,"wires":[["788427d.1d65a58"]]},{"id":"788427d.1d65a58","type":"function","z":"4989eed2.5b9ec","name":"WA: Prepare Error Log","func":"msg.payload = {\n    success:false,\n    message:msg.error.message,\n    data:msg.error.source\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":160,"wires":[["8b243c3a.fb0de8","15caeb0c.d2d5f5"]]},{"id":"8d427097.064e68","type":"link in","z":"4989eed2.5b9ec","name":"WA: HTTP Result","links":["15caeb0c.d2d5f5","70c6d141.d55cd"],"x":1035,"y":320,"wires":[["d15567bd.6aa25"]]},{"id":"d15567bd.6aa25","type":"http response","z":"4989eed2.5b9ec","name":"WA: HTTP Result","statusCode":"","headers":{},"x":1190,"y":320,"wires":[]},{"id":"9a2bdd26.c3aa18","type":"debug","z":"4989eed2.5b9ec","name":"WA: Debug Result","active":true,"console":"false","complete":"true","x":1190,"y":280,"wires":[]},{"id":"a936e6ac.95906","type":"comment","z":"4989eed2.5b9ec","name":"WA: Finalize","info":"","x":1168.7142333984375,"y":230.42822265625,"wires":[]},{"id":"8b243c3a.fb0de8","type":"link out","z":"4989eed2.5b9ec","name":"WA: Run Debug Result","links":["dd5cd64a.4b3408"],"x":1315,"y":140,"wires":[]},{"id":"2d563d99.2c5e22","type":"link out","z":"4989eed2.5b9ec","name":"WA: Run Audio Interpreted","links":["6ba9ce5c.0f94a"],"x":235,"y":120,"wires":[]},{"id":"9b0504d4.684b38","type":"comment","z":"4989eed2.5b9ec","name":"WA: Watson Audio Webhook","info":"","x":160,"y":80,"wires":[]},{"id":"ddb3772f.1d41b","type":"function","z":"4989eed2.5b9ec","name":"WA: Process Response","func":"msg.payload = {\n    success:true,\n    workflowStep:msg.wc.workflowStep,\n    deviceId:msg.req.body.deviceId,\n    title:msg.wc.responseTitle,\n    message:msg.wc.responseMessage\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":240,"wires":[["4d816a.fd3f0e98","70c6d141.d55cd"]]},{"id":"dd5cd64a.4b3408","type":"link in","z":"4989eed2.5b9ec","name":"WA: Debug Result","links":["4d816a.fd3f0e98","8b243c3a.fb0de8"],"x":1035,"y":280,"wires":[[]]},{"id":"2495a7c2.393eb","type":"comment","z":"4989eed2.5b9ec","name":"WA: Audio Interpreted","info":"","x":140,"y":200,"wires":[]},{"id":"6ba9ce5c.0f94a","type":"link in","z":"4989eed2.5b9ec","name":"WA: Audio Interpreted","links":["2d563d99.2c5e22"],"x":55,"y":240,"wires":[["28d7d5b7.61461a"]]},{"id":"28d7d5b7.61461a","type":"function","z":"4989eed2.5b9ec","name":"WA: Prep Msg","func":"msg.wc = {\n    srcInput:\"audio\",\n    triggerWords:msg.req.body.triggerWords,  \n    workspaceId:msg.req.body.workspaceId,    \n    cacheId:msg.req.body.deviceId + msg.req.body.userId,\n    context:JSON.stringify({userId:msg.req.body.userId, username:msg.req.body.username}),\n    message:msg.req.body.content,\n    responseTitle:\"\",\n    responseMessage:\"\",\n    workflowStep:\"\",\n    performAction:\"\",  \n    messageExamples:[],\n    titleExamples:[]    \n};\n\nmsg.payload = msg.wc;\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":240,"wires":[["63337120.b3b79"]]},{"id":"4d816a.fd3f0e98","type":"link out","z":"4989eed2.5b9ec","name":"WA: Run Debug Result","links":["dd5cd64a.4b3408"],"x":775,"y":220,"wires":[]},{"id":"15caeb0c.d2d5f5","type":"link out","z":"4989eed2.5b9ec","name":"WA: Run HTTP Result","links":["8d427097.064e68"],"x":1315,"y":180,"wires":[]},{"id":"70c6d141.d55cd","type":"link out","z":"4989eed2.5b9ec","name":"WA: Run HTTP Result","links":["8d427097.064e68"],"x":775,"y":260,"wires":[]},{"id":"bbe1e80.7231398","type":"comment","z":"e32d81ff.2640c8","name":"WC: Send Message","info":"","x":210,"y":40,"wires":[]},{"id":"6305cef.f5f9eb","type":"connectors","z":"e32d81ff.2640c8","server":"bb593e9e.602e8","profileKey":"wc_agilite","routeKey":"send","name":"WC: Send Msg","x":200,"y":100,"wires":[["ba6ffb38.ca6bc8"]]},{"id":"ba6ffb38.ca6bc8","type":"function","z":"e32d81ff.2640c8","name":"WC: Process Result","func":"if(msg.agilite.success){\n    if(msg.payload.context && msg.payload.context.workflowStep){\n        msg.wc.context = msg.payload.context;\n        msg.wc.workflowStep = msg.payload.context.workflowStep;\n        msg.wc.responseTitle = msg.payload.context.responseTitle;\n        msg.wc.responseMessage = msg.payload.output;\n        \n        if(msg.wc.context.titleExamples){\n            msg.wc.titleExamples = msg.wc.context.titleExamples;\n            delete msg.wc.context.titleExamples;\n        }\n  \n        if(msg.wc.context.messageExamples){\n            msg.wc.messageExamples = msg.wc.context.messageExamples;\n            delete msg.wc.context.messageExamples;\n        }  \n        \n        if(msg.wc.context.performAction){\n            msg.wc.performAction = msg.wc.context.performAction;\n            delete msg.wc.context.performAction;\n        }\n    }\n}else{\n    return node.error(JSON.stringify(msg.agilite.messages[0]), msg);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":100,"wires":[["4db44d32.c3ba3c"]]},{"id":"4db44d32.c3ba3c","type":"switch","z":"e32d81ff.2640c8","name":"WC: Check Workflow Step","property":"wc.workflowStep","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"0.1","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"else"}],"checkall":"false","outputs":5,"x":700,"y":100,"wires":[["7238a226.83c774"],["de450c13.de9518"],["b2c677f4.cbd49"],["17e62304.4df2dd"],["6a2fe2fe.8f1a3c"]]},{"id":"20346dc5.27ca22","type":"comment","z":"e32d81ff.2640c8","name":"WC: Workflow Step 0","info":"","x":200,"y":180,"wires":[]},{"id":"3c53a25e.31373e","type":"link in","z":"e32d81ff.2640c8","name":"WC: Workflow Step 0","links":["6226d4ef.806f24","7238a226.83c774","f79a9fb5.09ff08"],"x":115,"y":220,"wires":[["56ba5dd7.26057c"]]},{"id":"416a6cf8.60096c","type":"link out","z":"e32d81ff.2640c8","name":"WC: Run Finalize","links":["3621d5c1.45e592"],"x":375,"y":260,"wires":[]},{"id":"56ba5dd7.26057c","type":"function","z":"e32d81ff.2640c8","name":"WC: S0-Prep 1","func":"msg.payload = {\n    cacheId:msg.wc.cacheId\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":220,"wires":[["92c77899.8cb09","416a6cf8.60096c"]]},{"id":"92c77899.8cb09","type":"connectors","z":"e32d81ff.2640c8","server":"bb593e9e.602e8","profileKey":"wc_agilite","routeKey":"delete","name":"WC: S0-Delete Context","x":470,"y":220,"wires":[[]]},{"id":"7238a226.83c774","type":"link out","z":"e32d81ff.2640c8","name":"WC: Run Workflow Step 0","links":["3c53a25e.31373e"],"x":975,"y":20,"wires":[]},{"id":"3621d5c1.45e592","type":"link in","z":"e32d81ff.2640c8","name":"WC: Finalize","links":["23cf7c74.87229c","7b47574f.c26838","416a6cf8.60096c","3a622ac.ff4e056","d43df89f.fef8","6a2fe2fe.8f1a3c","b8d533b.3c09b5"],"x":1195,"y":120,"wires":[[]]},{"id":"d963f87d.332568","type":"comment","z":"e32d81ff.2640c8","name":"WC: Workflow Step 1 - New Timesheet","info":"","x":250,"y":440,"wires":[]},{"id":"bf09a92c.23784","type":"link in","z":"e32d81ff.2640c8","name":"WC: Workflow Step 1","links":["b2c677f4.cbd49"],"x":115,"y":500,"wires":[["25275c41.11c13c"]]},{"id":"25275c41.11c13c","type":"switch","z":"e32d81ff.2640c8","name":"WC: S1-Check Perform Action","property":"wc.performAction","propertyType":"msg","rules":[{"t":"eq","v":"timesheet_action_submit","vt":"str"},{"t":"eq","v":"timesheet_action_confirm","vt":"str"},{"t":"else"}],"checkall":"false","outputs":3,"x":290,"y":500,"wires":[["5a82705f.ee3348"],["bf4b6deb.db8f2"],["f6067ce8.ef4518"]]},{"id":"3a622ac.ff4e056","type":"link out","z":"e32d81ff.2640c8","name":"WC: Run Finalize","links":["3621d5c1.45e592"],"x":795,"y":540,"wires":[]},{"id":"bf4b6deb.db8f2","type":"function","z":"e32d81ff.2640c8","name":"WC: S1-Prep 2","func":"if(!msg.wc.context.hoursBilled)\n    msg.wc.context.hoursBilled = 0;\n\nmsg.wc.responseMessage += \"\\n*Date:* \" + msg.wc.context.date;\nmsg.wc.responseMessage += \"\\n*Client:* \" + msg.wc.context.client;\nmsg.wc.responseMessage += \"\\n*Type Of Work:* \" + msg.wc.context.typeOfWork;\nmsg.wc.responseMessage += \"\\n*Hours Spent:* \" + msg.wc.context.hoursSpent;\nmsg.wc.responseMessage += \"\\n*Hours Billed:* \" + msg.wc.context.hoursBilled;\nmsg.wc.responseMessage += \"\\n*Description:* \" + msg.wc.context.description;   \n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":500,"wires":[["f6067ce8.ef4518"]]},{"id":"11b35acb.a8b36d","type":"connectors","z":"e32d81ff.2640c8","server":"bb593e9e.602e8","profileKey":"wc_agilite","routeKey":"save","name":"WC: S1-Save Context","x":880,"y":500,"wires":[[]]},{"id":"5a82705f.ee3348","type":"function","z":"e32d81ff.2640c8","name":"WC: S1-Prep 1","func":"msg.payload = {\n    data:JSON.stringify({data:msg.wc.context})\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":460,"wires":[["e3c369e0.851cb8"]]},{"id":"e3c369e0.851cb8","type":"connectors","z":"e32d81ff.2640c8","server":"bb593e9e.602e8","profileKey":"timesheet_api","routeKey":"create","name":"WC: S1-Create Timesheet","x":770,"y":460,"wires":[["57694022.25763"]]},{"id":"57694022.25763","type":"function","z":"e32d81ff.2640c8","name":"WC: S1-Prep Result","func":"if(msg.agilite.success){\n    msg.wc.responseTitle = \"New Timesheet\";\n    msg.wc.responseMessage = \"Timesheet successfully submitted.\";\n}else{\n    msg.wc.responseTitle = \"Timesheet Submission Failed\";\n    msg.wc.responseMessage = \"Apologies. Something went wrong with submitting the Timesheet. Please start over\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":460,"wires":[["6226d4ef.806f24"]]},{"id":"6226d4ef.806f24","type":"link out","z":"e32d81ff.2640c8","name":"WC: Run Workflow Step 0","links":["3c53a25e.31373e"],"x":1175,"y":460,"wires":[]},{"id":"3b8db388.98fc04","type":"comment","z":"e32d81ff.2640c8","name":"WC: Workflow Step 2 - Timesheet Reports","info":"","x":260,"y":600,"wires":[]},{"id":"6df3769a.00e628","type":"link in","z":"e32d81ff.2640c8","name":"WC: Workflow Step 2","links":["17e62304.4df2dd"],"x":115,"y":660,"wires":[["6e887430.23c2cc"]]},{"id":"6e887430.23c2cc","type":"switch","z":"e32d81ff.2640c8","name":"WC: S2-Check Perform Action","property":"wc.performAction","propertyType":"msg","rules":[{"t":"eq","v":"timesheet_report_run","vt":"str"},{"t":"eq","v":"timesheet_report_confirm","vt":"str"},{"t":"else"}],"checkall":"false","outputs":3,"x":290,"y":660,"wires":[["933c17c6.d64d08"],["4c465e3c.be2168"],["2dd72fe3.5de468"]]},{"id":"4c465e3c.be2168","type":"function","z":"e32d81ff.2640c8","name":"WC: S2-Prep 2","func":"msg.wc.responseMessage += \"\\n*From Date:* \" + msg.wc.context.dateFrom;\nmsg.wc.responseMessage += \"\\n*To Date:* \" + msg.wc.context.dateTo;\nmsg.wc.responseMessage += \"\\n*Client:* \" + msg.wc.context.client;\nmsg.wc.responseMessage += \"\\n*Type Of Work:* \" + msg.wc.context.typeOfWork;\nmsg.wc.responseMessage += \"\\n*Group By:* \" + msg.wc.context.groupBy;   \n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":660,"wires":[["2dd72fe3.5de468"]]},{"id":"a6e3ac7b.cb4688","type":"connectors","z":"e32d81ff.2640c8","server":"bb593e9e.602e8","profileKey":"wc_agilite","routeKey":"save","name":"WC: S2-Save Context","x":880,"y":660,"wires":[[]]},{"id":"7b47574f.c26838","type":"link out","z":"e32d81ff.2640c8","name":"WC: Run Finalize","links":["3621d5c1.45e592"],"x":795,"y":700,"wires":[]},{"id":"933c17c6.d64d08","type":"function","z":"e32d81ff.2640c8","name":"WC: S2-Prep 1","func":"msg.payload = {\n    data:JSON.stringify(msg.wc.context)\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":620,"wires":[["3fd13e1d.444482"]]},{"id":"3fd13e1d.444482","type":"connectors","z":"e32d81ff.2640c8","server":"bb593e9e.602e8","profileKey":"timesheet_api","routeKey":"reports","name":"WC: S2-Timesheet Reports","x":800,"y":620,"wires":[["c992ecf5.afd6e"]]},{"id":"c992ecf5.afd6e","type":"function","z":"e32d81ff.2640c8","name":"WC: S2-Prep Result","func":"if(msg.agilite.success){\n    msg.wc.responseTitle = \"Timesheet Reports\";\n    msg.wc.responseMessage = \"\";\n    \n    var data = msg.payload.data;\n    var entry = {};\n    var newEntry = {};\n    var tempKey = \"\";\n    var hrsSpent = 0;\n    var hrsBilled = 0;\n    var entryAdded = false;\n    \n    switch(msg.wc.context.groupBy){\n        case \"-\":\n            for(var x in data){\n                entry = data[x].data;\n                newEntry = \"*Date:* \" + new Date(entry.date).toDateString();\n                newEntry += \" - *Client:* \" + entry.client;\n                newEntry += \" - *Type:* \" + entry.typeOfWork;\n                newEntry += \" - *Hrs Spent:* \" + entry.hoursSpent;\n                newEntry += \" - *Hrs Billed:* \" + entry.hoursBilled;\n                newEntry += \"\\n*Desc:* \" + entry.description;\n               \n                if(parseInt(x) > 0){\n                    msg.wc.responseMessage += \"\\n\";\n                    msg.wc.responseMessage += \"----------\";\n                    msg.wc.responseMessage += \"\\n\";                \n                }\n\n                   \n                msg.wc.responseMessage += newEntry;\n            }\n            \n            break;\n        case \"by_client\":\n            for(var x in data){\n                entry = data[x].data;\n                \n                if(tempKey === \"\")\n                    tempKey = entry.client;\n\n                if(entry.client !== tempKey){\n                    newEntry = \"*\" + tempKey + \"*\";\n                    newEntry += \" - Hrs Spent: _\" + hrsSpent + \"_\";\n                    newEntry += \" - Hrs Billed: _\" + hrsBilled + \"_\";\n                    \n                    if(entryAdded){\n                        msg.wc.responseMessage += \"\\n\";\n                    }\n                    \n                    msg.wc.responseMessage += newEntry;\n                    \n                    entryAdded = true;\n                    hrsSpent = 0;\n                    hrsBilled = 0;\n                    tempKey = entry.client;\n                }\n                \n                hrsSpent += entry.hoursSpent;\n                hrsBilled += entry.hoursBilled;\n            }\n            \n            //Add final Entry\n            if(data.length > 0){\n                newEntry = \"*\" + tempKey + \"*\";\n                newEntry += \" - Hrs Spent: _\" + hrsSpent + \"_\";\n                newEntry += \" - Hrs Billed: _\" + hrsBilled + \"_\";\n\n                if(entryAdded){\n                    msg.wc.responseMessage += \"\\n\";\n                }\n                \n                msg.wc.responseMessage += newEntry;            \n            }\n            \n            break;\n        case \"by_typeofwork\":\n            for(var x in data){\n                entry = data[x].data;\n                \n                if(tempKey === \"\")\n                    tempKey = entry.typeOfWork;\n\n                if(entry.typeOfWork !== tempKey){\n                    newEntry = \"*\" + tempKey + \"*\";\n                    newEntry += \" - Hrs Spent: _\" + hrsSpent + \"_\";\n                    newEntry += \" - Hrs Billed: _\" + hrsBilled + \"_\";\n                    \n                    if(entryAdded){\n                        msg.wc.responseMessage += \"\\n\";\n                    }\n                    \n                    msg.wc.responseMessage += newEntry;\n                    \n                    entryAdded = true;\n                    hrsSpent = 0;\n                    hrsBilled = 0;\n                    tempKey = entry.typeOfWork;\n                }\n                \n                hrsSpent += entry.hoursSpent;\n                hrsBilled += entry.hoursBilled;\n            }\n            \n            //Add final Entry\n            if(data.length > 0){\n                newEntry = \"*\" + tempKey + \"*\";\n                newEntry += \" - Hrs Spent: _\" + hrsSpent + \"_\";\n                newEntry += \" - Hrs Billed: _\" + hrsBilled + \"_\";\n\n                if(entryAdded){\n                    msg.wc.responseMessage += \"\\n\";\n                }\n                \n                msg.wc.responseMessage += newEntry;            \n            }\n            \n            break;             \n        case \"by_day\":\n            for(var x in data){\n                entry = data[x].data;\n                \n                if(tempKey === \"\")\n                    tempKey = new Date(entry.date).toDateString();\n\n                if(new Date(entry.date).toDateString() !== tempKey){\n                    newEntry = \"*\" + tempKey + \"*\";\n                    newEntry += \" - Hrs Spent: _\" + hrsSpent + \"_\";\n                    newEntry += \" - Hrs Billed: _\" + hrsBilled + \"_\";\n                    \n                    if(entryAdded){\n                        msg.wc.responseMessage += \"\\n\";\n                    }\n                    \n                    msg.wc.responseMessage += newEntry;\n                    \n                    entryAdded = true;\n                    hrsSpent = 0;\n                    hrsBilled = 0;\n                    tempKey = new Date(entry.date).toDateString();\n                }\n                \n                hrsSpent += entry.hoursSpent;\n                hrsBilled += entry.hoursBilled;\n            }\n            \n            //Add final Entry\n            if(data.length > 0){\n                newEntry = \"*\" + tempKey + \"*\";\n                newEntry += \" - Hrs Spent: _\" + hrsSpent + \"_\";\n                newEntry += \" - Hrs Billed: _\" + hrsBilled + \"_\";\n\n                if(entryAdded){\n                    msg.wc.responseMessage += \"\\n\";\n                }\n                \n                msg.wc.responseMessage += newEntry;            \n            }\n            \n            break;\n    }\n}else{\n    msg.wc.responseTitle = \"Timesheet Report Failed\";\n    msg.wc.responseMessage = \"Apologies. Something went wrong with generating the Timesheet reports. Please start over\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":620,"wires":[["f79a9fb5.09ff08"]]},{"id":"f79a9fb5.09ff08","type":"link out","z":"e32d81ff.2640c8","name":"WC: Run Workflow Step 0","links":["3c53a25e.31373e"],"x":1215,"y":620,"wires":[]},{"id":"b2c677f4.cbd49","type":"link out","z":"e32d81ff.2640c8","name":"WC: Run Workflow Step 1","links":["bf09a92c.23784"],"x":975,"y":100,"wires":[]},{"id":"17e62304.4df2dd","type":"link out","z":"e32d81ff.2640c8","name":"WC: Run Workflow Step 2","links":["6df3769a.00e628"],"x":975,"y":140,"wires":[]},{"id":"6a2fe2fe.8f1a3c","type":"link out","z":"e32d81ff.2640c8","name":"WC: Run Finalize","links":["3621d5c1.45e592"],"x":975,"y":180,"wires":[]},{"id":"de9c8395.58a7f8","type":"comment","z":"e32d81ff.2640c8","name":"WC: Finalize","info":"","x":1250,"y":60,"wires":[]},{"id":"f6067ce8.ef4518","type":"function","z":"e32d81ff.2640c8","name":"WC: S1-Prep 3","func":"msg.payload = {\n    cacheId:msg.wc.cacheId,\n    context:JSON.stringify(msg.wc.context)\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":540,"wires":[["3a622ac.ff4e056","11b35acb.a8b36d"]]},{"id":"1a18cdde.e83fea","type":"subflow:e32d81ff.2640c8","z":"9a754cd4.5dac18","name":"","x":460,"y":440,"wires":[["e725f3b4.1e41c8"]]},{"id":"63337120.b3b79","type":"subflow:e32d81ff.2640c8","z":"4989eed2.5b9ec","name":"","x":380,"y":240,"wires":[["ddb3772f.1d41b"]]},{"id":"edd29809.f29938","type":"comment","z":"e32d81ff.2640c8","name":"WC: Workflow Step 0.1","info":"","x":200,"y":300,"wires":[]},{"id":"457513e.a0c3c6c","type":"link in","z":"e32d81ff.2640c8","name":"WC: Workflow Step 0.1","links":["de450c13.de9518"],"x":115,"y":340,"wires":[["66fdcc38.a4caac"]]},{"id":"b8d533b.3c09b5","type":"link out","z":"e32d81ff.2640c8","name":"WC: Run Finalize","links":["3621d5c1.45e592"],"x":395,"y":380,"wires":[]},{"id":"66fdcc38.a4caac","type":"function","z":"e32d81ff.2640c8","name":"WC: S0.1-Prep 1","func":"msg.payload = {\n    cacheId:msg.wc.cacheId,\n    context:JSON.stringify(msg.wc.context)\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":340,"wires":[["fdfd375d.6b293","b8d533b.3c09b5"]]},{"id":"fdfd375d.6b293","type":"connectors","z":"e32d81ff.2640c8","server":"bb593e9e.602e8","profileKey":"wc_agilite","routeKey":"save","name":"WC: S0.1-Save Context","x":490,"y":340,"wires":[[]]},{"id":"de450c13.de9518","type":"link out","z":"e32d81ff.2640c8","name":"WC: Run Workflow Step 0","links":["457513e.a0c3c6c"],"x":975,"y":60,"wires":[]},{"id":"2dd72fe3.5de468","type":"function","z":"e32d81ff.2640c8","name":"WC: S2-Prep 3","func":"msg.payload = {\n    cacheId:msg.wc.cacheId,\n    context:JSON.stringify(msg.wc.context)\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":700,"wires":[["a6e3ac7b.cb4688","7b47574f.c26838"]]},{"id":"bec839fe.e6f6b","type":"http in","z":"6b9b381b.932718","name":"AA: Webhook","url":"/api/aa/execute","method":"post","upload":false,"swaggerDoc":"","x":90,"y":100,"wires":[["62f06153.92b2d"]]},{"id":"3c34adee.450c8a","type":"catch","z":"6b9b381b.932718","name":"AA: Catch Errors","scope":null,"x":1060,"y":80,"wires":[["7e97276c.1b5e58"]]},{"id":"7e97276c.1b5e58","type":"function","z":"6b9b381b.932718","name":"AA: Prepare Error Log","func":"msg.payload = {\n    success:false,\n    errorMessage:msg.error.message\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":140,"wires":[["2548f398.84e6e4","8c181398.1670a8"]]},{"id":"4bdaf0ec.778a4","type":"link in","z":"6b9b381b.932718","name":"AA: HTTP Result","links":["8c181398.1670a8","8e4080f9.4a522"],"x":1015,"y":300,"wires":[["73800991.410138"]]},{"id":"73800991.410138","type":"http response","z":"6b9b381b.932718","name":"AA: HTTP Result","statusCode":"","headers":{},"x":1170,"y":300,"wires":[]},{"id":"becd462a.543ce8","type":"debug","z":"6b9b381b.932718","name":"AA: Debug Result","active":true,"console":"false","complete":"true","x":1170,"y":260,"wires":[]},{"id":"248627e.7990bd8","type":"comment","z":"6b9b381b.932718","name":"AA: Finalize","info":"","x":1148.7142333984375,"y":210.42822265625,"wires":[]},{"id":"2548f398.84e6e4","type":"link out","z":"6b9b381b.932718","name":"AA: Run Debug Result","links":["8f9abb81.7a4a38"],"x":1295,"y":120,"wires":[]},{"id":"62f06153.92b2d","type":"link out","z":"6b9b381b.932718","name":"AA: Run WC Msg","links":["c8258e65.bc3e08"],"x":215,"y":100,"wires":[]},{"id":"49862f9b.ac0008","type":"comment","z":"6b9b381b.932718","name":"AA: Agilit-e AA Portal Webhook","info":"","x":150,"y":60,"wires":[]},{"id":"c2faa17.cd533e","type":"function","z":"6b9b381b.932718","name":"AA: Process Response","func":"//Finalize logic\nvar extendedMessage = \"\";\n\nif(msg.wc.messageExamples && msg.wc.messageExamples.length > 0){\n    extendedMessage = \"\\ne.g. \";\n    extendedMessage += \"`\" + msg.wc.messageExamples.join(\"` - `\") + \"`\";\n    \n    msg.wc.responseMessage += extendedMessage;\n}\n\nif(msg.wc.titleExamples && msg.wc.titleExamples.length > 0){\n    extendedMessage = \": ACTIONS = \";\n    extendedMessage += \"( \" + msg.wc.titleExamples.join(\" / \") + \" )\";\n\n    msg.wc.responseTitle += extendedMessage;\n}    \n\n//Create Final Payload\nmsg.payload = {\n    success:true,\n    errorMessage:\"\",\n    message:{\n        username:\"\",\n        img:\"\",\n        template:\"basic\",\n        data:{\n            content:msg.wc.responseMessage\n        }\n    },\n    widgets:{\n        topLeft:{},\n        topRight:{},\n        bottom:[]\n    },\n    title:msg.wc.responseTitle\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":220,"wires":[["f8c83435.7556f8","8e4080f9.4a522"]]},{"id":"8f9abb81.7a4a38","type":"link in","z":"6b9b381b.932718","name":"AA: Debug Result","links":["2548f398.84e6e4","f8c83435.7556f8"],"x":1015,"y":260,"wires":[[]]},{"id":"96cbc431.1a8cd","type":"comment","z":"6b9b381b.932718","name":"AA: Watson Conversation Msg","info":"","x":150,"y":180,"wires":[]},{"id":"c8258e65.bc3e08","type":"link in","z":"6b9b381b.932718","name":"AA: WC Msg","links":["62f06153.92b2d"],"x":35,"y":220,"wires":[["27da8aee.3bb2e6"]]},{"id":"27da8aee.3bb2e6","type":"function","z":"6b9b381b.932718","name":"AA: Prep Msg","func":"msg.wc = {\n    srcInput:\"aa\",\n    triggerWords:\"kree\",  \n    workspaceId:\"8c9399aa-c68a-42e1-8c09-ee3feb935bf6\",    \n    cacheId:msg.req.body.sessionId + msg.req.body.userId,\n    context:JSON.stringify({userId:msg.req.body.userId, username:msg.req.body.username}),\n    message:msg.req.body.content,\n    responseTitle:\"\",\n    responseMessage:\"\",\n    workflowStep:\"\",\n    performAction:\"\",\n    messageExamples:[],\n    titleExamples:[]\n};\n\nmsg.payload = msg.wc;\n\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":220,"wires":[["4bea3486.edeb8c"]]},{"id":"f8c83435.7556f8","type":"link out","z":"6b9b381b.932718","name":"AA: Run Debug Result","links":["8f9abb81.7a4a38"],"x":755,"y":200,"wires":[]},{"id":"8c181398.1670a8","type":"link out","z":"6b9b381b.932718","name":"AA: Run HTTP Result","links":["4bdaf0ec.778a4"],"x":1295,"y":160,"wires":[]},{"id":"8e4080f9.4a522","type":"link out","z":"6b9b381b.932718","name":"AA: Run HTTP Result","links":["4bdaf0ec.778a4"],"x":755,"y":240,"wires":[]},{"id":"4bea3486.edeb8c","type":"subflow:e32d81ff.2640c8","z":"6b9b381b.932718","name":"","x":360,"y":220,"wires":[["c2faa17.cd533e"]]},{"id":"d15130d4.1f99a","type":"http in","z":"24364638.e5cdf2","name":"Authenticate user","url":"/user/login","method":"get","upload":false,"swaggerDoc":"","x":210,"y":160,"wires":[["69f03b41.0da4d4","434bc3be.cb8cfc"]]},{"id":"69f03b41.0da4d4","type":"function","z":"24364638.e5cdf2","name":"","func":"var users = [\n    {\n        username:\"John Jardin\",\n        password:\"password123\"\n    },\n    {\n        username:\"Paul Withers\",\n        password:\"password456\"        \n    }\n];\n\nmsg.payload = null;\n\nfor(var x in users){\n    if(msg.req.query.username.toLowerCase() === users[x].username.toLowerCase() && msg.req.query.password === users[x].password){\n        msg.payload = users[x];\n        break;\n    }\n}\n\nif(msg.payload){\n    msg.statusCode = 200;\n}else{\n    msg.statusCode = 401;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":160,"wires":[["434bc3be.cb8cfc","bc40e374.d7b838"]]},{"id":"434bc3be.cb8cfc","type":"debug","z":"24364638.e5cdf2","name":"","active":true,"console":"false","complete":"true","x":660,"y":260,"wires":[]},{"id":"bc40e374.d7b838","type":"http response","z":"24364638.e5cdf2","name":"","statusCode":"","headers":{},"x":890,"y":180,"wires":[]},{"id":"9a48b7c1.715b4","type":"http in","z":"9a754cd4.5dac18","name":"WW: React To Do Webhook","url":"/api/ww/reacttodo/execute","method":"post","upload":false,"swaggerDoc":"","x":160,"y":860,"wires":[["11e28e1e.3cb292"]]},{"id":"11e28e1e.3cb292","type":"function","z":"9a754cd4.5dac18","name":"WW: React To Do Prep","func":"msg.payload = msg.req.body;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":860,"wires":[["b6f9cdf6.3e6958"]]},{"id":"9937b91e.bf3d98","type":"comment","z":"9a754cd4.5dac18","name":"WW: React To Do Webhook","info":"","x":160,"y":820,"wires":[]},{"id":"a713b35c.eec0b","type":"http response","z":"9a754cd4.5dac18","name":"WW: React To Do Response","statusCode":"","headers":{},"x":1180,"y":860,"wires":[]},{"id":"b6f9cdf6.3e6958","type":"http request","z":"9a754cd4.5dac18","name":"WW: React To Do API","method":"POST","ret":"obj","url":"https://nodereddemo.agilite.io/api/ww/execute","tls":"","x":660,"y":860,"wires":[["ff911345.049ef8"]]},{"id":"ff911345.049ef8","type":"function","z":"9a754cd4.5dac18","name":"WW: React To Do Finalize","func":"if(msg.payload.token){\n    //Set outbound Header when required\n    if(!msg.headers)\n       msg.headers = {};\n        \n    msg.headers[\"X-OUTBOUND-TOKEN\"] = msg.payload.token;\n    msg.payload = {response:msg.payload.response};    \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":860,"wires":[["a713b35c.eec0b"]]}]