node-red-flows/flows.json
[
    {
        "id": "c5f41c08.1c033",
        "type": "tab",
        "label": "API Flows",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1b97155.a77c06b",
        "type": "tab",
        "label": "WW Flows",
        "disabled": false,
        "info": ""
    },
    {
        "id": "25a3a915.5de646",
        "type": "tab",
        "label": "Armand",
        "disabled": true,
        "info": ""
    },
    {
        "id": "44f0046c.bdafcc",
        "type": "tab",
        "label": "Data Mapping Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b4ec078.52640f8",
        "type": "subflow",
        "name": "To Do",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "fbff47fb.45382"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1240,
                "y": 100,
                "wires": [
                    {
                        "id": "d8f65a3a.05a4b",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "ea466807.4bb71",
        "type": "subflow",
        "name": "WC: Send Msg",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "95bfe15f.fc9c5"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1300,
                "y": 120,
                "wires": [
                    {
                        "id": "7734516b.8b468",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "2f33eb92.2e8b5c",
        "type": "subflow",
        "name": "To Do Web Socket",
        "info": "To use this Subflow, populate the following object:\n\nmsg.ws = {\n    event:\"{event-name}\",\n    data:{\n\t    reqType: \"{request-type}\",\n\t    success: {boolean},\n    \tmessages: {array},\n\t    data: {Array or JSON} \n    }\n};",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "f545a9a2.20cbd"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 540,
                "y": 40,
                "wires": [
                    {
                        "id": "d2a5f752.985eb",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "9bf120f3.c43a3",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "4cf55607.14ed48",
        "type": "agilite-login",
        "z": "",
        "serverType": "2",
        "server": "http://52.168.50.173:30010",
        "name": "Kubernetes",
        "username": "john.jardin@gmail.com"
    },
    {
        "id": "c0be66cd.cf03e",
        "type": "agilite-login",
        "z": "",
        "serverType": "2",
        "server": "http://52.168.50.173:30010",
        "name": "John Test",
        "username": "john.jardin@gmail.com"
    },
    {
        "id": "6c0987aa.aad8a8",
        "type": "ui_group",
        "z": "",
        "name": "Active/Completed Chart",
        "tab": "e95b16fc.3cbb48",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bf88af96.fccd3",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#8a83e2",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Wunderlist Reporting",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 10,
                "gy": 10,
                "cx": 10,
                "cy": 10,
                "px": 10,
                "py": 10
            }
        }
    },
    {
        "id": "fba96c43.dba4d",
        "type": "agilite-login",
        "z": "",
        "serverType": "2",
        "server": "http://52.168.50.173:30010",
        "name": "Armand",
        "username": "armand@agilite.io"
    },
    {
        "id": "e95b16fc.3cbb48",
        "type": "ui_tab",
        "z": "",
        "name": "Agilit-e Internal",
        "icon": "assignment_ind",
        "order": 1
    },
    {
        "id": "756af165.83cbc",
        "type": "ui_group",
        "z": "",
        "name": "Refresh Data",
        "tab": "e95b16fc.3cbb48",
        "order": 1,
        "disp": false,
        "width": "1",
        "collapse": false
    },
    {
        "id": "491e8fc7.f4b02",
        "type": "ui_group",
        "z": "",
        "name": "Main Task",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "cd7199e6.7614e8",
        "type": "ui_group",
        "z": "",
        "name": "Assignee ID's",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d0913ab.fd7e5c8",
        "type": "ui_group",
        "z": "",
        "name": "Active / Responsible Person",
        "tab": "e95b16fc.3cbb48",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c12d9644.537918",
        "type": "ui_group",
        "z": "",
        "name": "Completed / Responsible Person",
        "tab": "e95b16fc.3cbb48",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "98b217fb.c0d698",
        "type": "ui_group",
        "z": "",
        "name": "Overdue / RP",
        "tab": "e95b16fc.3cbb48",
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3455b49d.eea88c",
        "type": "http in",
        "z": "c5f41c08.1c033",
        "name": "AF-Webhook",
        "url": "/webhook/todo",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "7e78a572.21d3dc"
            ]
        ]
    },
    {
        "id": "ebd3d256.457ea",
        "type": "debug",
        "z": "c5f41c08.1c033",
        "name": "AF-Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1130,
        "y": 360,
        "wires": []
    },
    {
        "id": "82decc96.fe9f8",
        "type": "http response",
        "z": "c5f41c08.1c033",
        "name": "AF-API Response",
        "statusCode": "",
        "headers": {},
        "x": 1150,
        "y": 400,
        "wires": []
    },
    {
        "id": "eb38b740.284c18",
        "type": "link in",
        "z": "c5f41c08.1c033",
        "name": "AF-Finalize",
        "links": [
            "f07d009e.513f8",
            "aa1221eb.03a038"
        ],
        "x": 995,
        "y": 380,
        "wires": [
            [
                "82decc96.fe9f8",
                "ebd3d256.457ea"
            ]
        ]
    },
    {
        "id": "3cfe5f96.0e371",
        "type": "comment",
        "z": "c5f41c08.1c033",
        "name": "AF-Process Errors",
        "info": "",
        "x": 1070,
        "y": 160,
        "wires": []
    },
    {
        "id": "3319d3ef.1be6e4",
        "type": "catch",
        "z": "c5f41c08.1c033",
        "name": "AF-Error Handler",
        "scope": null,
        "x": 1080,
        "y": 200,
        "wires": [
            [
                "ab19f635.047d3"
            ]
        ]
    },
    {
        "id": "ab19f635.047d3",
        "type": "function",
        "z": "c5f41c08.1c033",
        "name": "AF-Prepare Error Result",
        "func": "msg.payload = {\n    reqType:msg.todo.reqType,\n    success:false,\n    messages:[msg.error.message],\n    data:msg.error.source\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1090,
        "y": 240,
        "wires": [
            [
                "f07d009e.513f8"
            ]
        ]
    },
    {
        "id": "f07d009e.513f8",
        "type": "link out",
        "z": "c5f41c08.1c033",
        "name": "Run AF-Finalize",
        "links": [
            "eb38b740.284c18"
        ],
        "x": 1255,
        "y": 240,
        "wires": []
    },
    {
        "id": "4be78d8f.32561c",
        "type": "comment",
        "z": "c5f41c08.1c033",
        "name": "AF-Finalize",
        "info": "",
        "x": 1040,
        "y": 320,
        "wires": []
    },
    {
        "id": "af152992.a51288",
        "type": "comment",
        "z": "c5f41c08.1c033",
        "name": "AF-Process Success Result",
        "info": "",
        "x": 1100,
        "y": 60,
        "wires": []
    },
    {
        "id": "7c23588d.e7f9d8",
        "type": "function",
        "z": "c5f41c08.1c033",
        "name": "AF-Prepare Success Result",
        "func": "msg.payload = {\n    reqType:msg.todo.reqType,\n    success:true,\n    messages:[],\n    data:msg.payload\n};\n\nif(msg.storeList){\n    msg.payload.storeList = msg.storeList;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1160,
        "y": 100,
        "wires": [
            [
                "aa1221eb.03a038"
            ]
        ]
    },
    {
        "id": "aa1221eb.03a038",
        "type": "link out",
        "z": "c5f41c08.1c033",
        "name": "Run AF-Finalize",
        "links": [
            "eb38b740.284c18"
        ],
        "x": 1335,
        "y": 100,
        "wires": []
    },
    {
        "id": "8e7ef975.056728",
        "type": "link in",
        "z": "c5f41c08.1c033",
        "name": "AF-Process Result",
        "links": [
            "d8a67ad8.4ac228",
            "58a3d1c4.549968",
            "904d91c6.df27e8",
            "bb4b9bec.ede45"
        ],
        "x": 995,
        "y": 100,
        "wires": [
            [
                "7c23588d.e7f9d8"
            ]
        ]
    },
    {
        "id": "32337880.555bc8",
        "type": "comment",
        "z": "c5f41c08.1c033",
        "name": "AF-Start",
        "info": "",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "fbff47fb.45382",
        "type": "switch",
        "z": "b4ec078.52640f8",
        "name": "TD-Connection Type",
        "property": "todo.connectionType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "to-do-app-requests",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "to-do-store-requests",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "to-do-requests",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 220,
        "y": 100,
        "wires": [
            [
                "9380eff.22ad81"
            ],
            [
                "411b2d1b.0a29bc"
            ],
            [
                "c2edb8fe.56965"
            ]
        ]
    },
    {
        "id": "9380eff.22ad81",
        "type": "link out",
        "z": "b4ec078.52640f8",
        "name": "Run TD1-Authenticate",
        "links": [
            "d380a54f.7374f8"
        ],
        "x": 395,
        "y": 60,
        "wires": []
    },
    {
        "id": "5e3754b2.47bd5c",
        "type": "comment",
        "z": "b4ec078.52640f8",
        "name": "TD-Start",
        "info": "",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "d42f4c44.1fc578",
        "type": "comment",
        "z": "b4ec078.52640f8",
        "name": "TD1-Authenticate",
        "info": "",
        "x": 120,
        "y": 180,
        "wires": []
    },
    {
        "id": "d380a54f.7374f8",
        "type": "link in",
        "z": "b4ec078.52640f8",
        "name": "TD1.1-Authenticate",
        "links": [
            "9380eff.22ad81"
        ],
        "x": 75,
        "y": 260,
        "wires": [
            [
                "3ed5813a.dafb36"
            ]
        ]
    },
    {
        "id": "3ed5813a.dafb36",
        "type": "function",
        "z": "b4ec078.52640f8",
        "name": "TD1.1-Prep",
        "func": "msg.payload = msg.todo.data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 260,
        "wires": [
            [
                "26179c4d.85f02c"
            ]
        ]
    },
    {
        "id": "26179c4d.85f02c",
        "type": "connectors",
        "z": "b4ec078.52640f8",
        "server": "4cf55607.14ed48",
        "profileKey": "paul_domino_dev",
        "routeKey": "login",
        "name": "TD1.1-Connector",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "983ca1ed.5929c8"
            ]
        ]
    },
    {
        "id": "983ca1ed.5929c8",
        "type": "function",
        "z": "b4ec078.52640f8",
        "name": "TD1.1-Finalize",
        "func": "if(msg.agilite.success){\n    try {\n      if(msg.payload.substring(0, 1) === \"<\"){\n        return node.error(\"Incorrect Username/Password. Please try again\", msg);\n      }  \n    } catch (error) {}    \n    \n    msg.user = msg.payload;\n    \n    return msg;    \n}else{\n    return node.error(msg.agilite.messages[0], msg);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 260,
        "wires": [
            [
                "53310d0b.94ebfc"
            ]
        ]
    },
    {
        "id": "53310d0b.94ebfc",
        "type": "link out",
        "z": "b4ec078.52640f8",
        "name": "Run TD1.2-Get Users",
        "links": [
            "2f86c3f3.5a8b5c"
        ],
        "x": 735,
        "y": 260,
        "wires": []
    },
    {
        "id": "411b2d1b.0a29bc",
        "type": "link out",
        "z": "b4ec078.52640f8",
        "name": "Run TD2-Store Requests",
        "links": [
            "d625c460.ec1118"
        ],
        "x": 395,
        "y": 100,
        "wires": []
    },
    {
        "id": "84f1cdb8.e92598",
        "type": "comment",
        "z": "b4ec078.52640f8",
        "name": "TD2-Store Requests",
        "info": "",
        "x": 130,
        "y": 440,
        "wires": []
    },
    {
        "id": "bd413a40.6633d8",
        "type": "comment",
        "z": "b4ec078.52640f8",
        "name": "TD2-1-Fetch Data",
        "info": "",
        "x": 170,
        "y": 580,
        "wires": []
    },
    {
        "id": "d625c460.ec1118",
        "type": "link in",
        "z": "b4ec078.52640f8",
        "name": "TD2-Store Requests",
        "links": [
            "411b2d1b.0a29bc"
        ],
        "x": 55,
        "y": 480,
        "wires": [
            [
                "b34072b.99b661"
            ]
        ]
    },
    {
        "id": "b34072b.99b661",
        "type": "switch",
        "z": "b4ec078.52640f8",
        "name": "TD2-Req Type",
        "property": "todo.reqType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 180,
        "y": 500,
        "wires": [
            [
                "8458dca1.b74e6"
            ],
            [
                "58cb7da6.510c5c"
            ],
            [
                "5b65af1.b85305"
            ]
        ]
    },
    {
        "id": "8458dca1.b74e6",
        "type": "link out",
        "z": "b4ec078.52640f8",
        "name": "Run TD2-1-Fetch Data",
        "links": [
            "5315109.3b4d0f"
        ],
        "x": 315,
        "y": 460,
        "wires": []
    },
    {
        "id": "5315109.3b4d0f",
        "type": "link in",
        "z": "b4ec078.52640f8",
        "name": "TD2-1-Fetch Data",
        "links": [
            "8458dca1.b74e6"
        ],
        "x": 95,
        "y": 620,
        "wires": [
            [
                "d18d0cff.6b62a8"
            ]
        ]
    },
    {
        "id": "d18d0cff.6b62a8",
        "type": "function",
        "z": "b4ec078.52640f8",
        "name": "TD2-1-Prep",
        "func": "msg.payload = msg.todo.data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 620,
        "wires": [
            [
                "7e7c62db.cf1de4"
            ]
        ]
    },
    {
        "id": "7e7c62db.cf1de4",
        "type": "connectors",
        "z": "b4ec078.52640f8",
        "server": "4cf55607.14ed48",
        "profileKey": "paul_domino_dev",
        "routeKey": "get_my_stores",
        "name": "TD2-1-Connector",
        "x": 410,
        "y": 620,
        "wires": [
            [
                "2bdcf81.3ac4c88"
            ]
        ]
    },
    {
        "id": "2bdcf81.3ac4c88",
        "type": "function",
        "z": "b4ec078.52640f8",
        "name": "TD2-1-Finalize",
        "func": "if(msg.agilite.success){\n    try {\n      if(msg.payload.substring(0, 1) === \"<\"){\n        return node.error(\"Incorrect Username/Password. Please try again\", msg);\n      }  \n    } catch (error) {}    \n    \n    //Fix up Data Entries to be compatible with React\n    var resultData = [];\n    \n    for(var x in msg.payload){\n        resultData.push(\n            {\n                _id:msg.payload[x].replicaId,\n                data:msg.payload[x]\n            }\n        )\n    }\n    \n    msg.payload = resultData;\n    \n    return msg;    \n}else{\n    return node.error(msg.agilite.messages[0], msg);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 620,
        "wires": [
            [
                "e16e62d2.272538"
            ]
        ]
    },
    {
        "id": "e16e62d2.272538",
        "type": "link out",
        "z": "b4ec078.52640f8",
        "name": "Run TD-Finalize",
        "links": [
            "d8f65a3a.05a4b"
        ],
        "x": 755,
        "y": 620,
        "wires": []
    },
    {
        "id": "4c498530.8a1994",
        "type": "comment",
        "z": "b4ec078.52640f8",
        "name": "TD2-2-Create Record",
        "info": "",
        "x": 180,
        "y": 680,
        "wires": []
    },
    {
        "id": "679d26dc.a220e8",
        "type": "link in",
        "z": "b4ec078.52640f8",
        "name": "TD2-2-Create Record",
        "links": [
            "58cb7da6.510c5c"
        ],
        "x": 95,
        "y": 720,
        "wires": [
            [
                "b42f7634.13f57"
            ]
        ]
    },
    {
        "id": "b42f7634.13f57",
        "type": "function",
        "z": "b4ec078.52640f8",
        "name": "TD2-2-Prep",
        "func": "msg.payload = msg.todo.data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 720,
        "wires": [
            [
                "de334c20.4e098"
            ]
        ]
    },
    {
        "id": "de334c20.4e098",
        "type": "connectors",
        "z": "b4ec078.52640f8",
        "server": "4cf55607.14ed48",
        "profileKey": "paul_domino_dev",
        "routeKey": "create_store",
        "name": "TD2-2-Connector",
        "x": 410,
        "y": 720,
        "wires": [
            [
                "3334d99a.f9c8ee"
            ]
        ]
    },
    {
        "id": "3334d99a.f9c8ee",
        "type": "function",
        "z": "b4ec078.52640f8",
        "name": "TD2-2-Finalize",
        "func": "if(msg.agilite.success){\n    try {\n      if(msg.payload.substring(0, 1) === \"<\"){\n        return node.error(\"Incorrect Username/Password. Please try again\", msg);\n      }  \n    } catch (error) {}    \n    \n    //Fix up Data Entries to be compatible with React\n    var resultData = {\n        _id:msg.payload.replicaId,\n        custom:msg.todo.data.custom,\n        data:msg.payload \n    };\n    \n    msg.payload = resultData;    \n    \n    return msg;    \n}else{\n    return node.error(msg.agilite.messages[0], msg);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 720,
        "wires": [
            [
                "4510642e.278e8c"
            ]
        ]
    },
    {
        "id": "4510642e.278e8c",
        "type": "link out",
        "z": "b4ec078.52640f8",
        "name": "Run TD-Finalize",
        "links": [
            "d8f65a3a.05a4b"
        ],
        "x": 755,
        "y": 720,
        "wires": []
    },
    {
        "id": "58cb7da6.510c5c",
        "type": "link out",
        "z": "b4ec078.52640f8",
        "name": "Run TD2-2-Create Record",
        "links": [
            "679d26dc.a220e8"
        ],
        "x": 315,
        "y": 500,
        "wires": []
    },
    {
        "id": "9a505087.2273b8",
        "type": "comment",
        "z": "b4ec078.52640f8",
        "name": "TD2-3-Update Record",
        "info": "",
        "x": 180,
        "y": 780,
        "wires": []
    },
    {
        "id": "1e5c61df.33e006",
        "type": "link in",
        "z": "b4ec078.52640f8",
        "name": "TD2-3-Update Record",
        "links": [
            "5b65af1.b85305"
        ],
        "x": 95,
        "y": 820,
        "wires": [
            [
                "5616ea48.5ff94c"
            ]
        ]
    },
    {
        "id": "5616ea48.5ff94c",
        "type": "function",
        "z": "b4ec078.52640f8",
        "name": "TD2-3-Prep",
        "func": "msg.payload = msg.todo.data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 820,
        "wires": [
            [
                "c5154864.b6509"
            ]
        ]
    },
    {
        "id": "c5154864.b6509",
        "type": "connectors",
        "z": "b4ec078.52640f8",
        "server": "4cf55607.14ed48",
        "profileKey": "paul_domino_dev",
        "routeKey": "update_store",
        "name": "TD2-3-Connector",
        "x": 410,
        "y": 820,
        "wires": [
            [
                "548a8427.34efec"
            ]
        ]
    },
    {
        "id": "548a8427.34efec",
        "type": "function",
        "z": "b4ec078.52640f8",
        "name": "TD2-3-Finalize",
        "func": "if(msg.agilite.success){\n    try {\n      if(msg.payload.substring(0, 1) === \"<\"){\n        return node.error(\"Incorrect Username/Password. Please try again\", msg);\n      }  \n    } catch (error) {}    \n    \n    //Fix up Data Entries to be compatible with React\n    var resultData = {\n        _id:msg.payload.replicaId,\n        custom:msg.todo.data.custom,\n        data:msg.payload   \n    };\n    \n    msg.payload = resultData;    \n    \n    return msg;    \n}else{\n    return node.error(msg.agilite.messages[0], msg);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 820,
        "wires": [
            [
                "e6323724.e4f1d8"
            ]
        ]
    },
    {
        "id": "e6323724.e4f1d8",
        "type": "link out",
        "z": "b4ec078.52640f8",
        "name": "Run TD-Finalize",
        "links": [
            "d8f65a3a.05a4b"
        ],
        "x": 755,
        "y": 820,
        "wires": []
    },
    {
        "id": "5b65af1.b85305",
        "type": "link out",
        "z": "b4ec078.52640f8",
        "name": "Run TD2-3-Create Record",
        "links": [
            "1e5c61df.33e006"
        ],
        "x": 315,
        "y": 540,
        "wires": []
    },
    {
        "id": "1cb54313.58b935",
        "type": "comment",
        "z": "b4ec078.52640f8",
        "name": "TD3-To Do Requests",
        "info": "",
        "x": 130,
        "y": 900,
        "wires": []
    },
    {
        "id": "bff3e2f9.f3de6",
        "type": "link in",
        "z": "b4ec078.52640f8",
        "name": "TD3-To Do Requests",
        "links": [
            "c2edb8fe.56965"
        ],
        "x": 55,
        "y": 940,
        "wires": [
            [
                "2b38df8.0082e2"
            ]
        ]
    },
    {
        "id": "2b38df8.0082e2",
        "type": "switch",
        "z": "b4ec078.52640f8",
        "name": "TD3-Req Type",
        "property": "todo.reqType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "1",
                "vt": "num",
                "v2": "4",
                "v2t": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 180,
        "y": 960,
        "wires": [
            [
                "e8257c0.0060808"
            ],
            [
                "416ae7bc.32065"
            ],
            [
                "e7384e27.47f928"
            ]
        ]
    },
    {
        "id": "e8257c0.0060808",
        "type": "link out",
        "z": "b4ec078.52640f8",
        "name": "Run TD3-1.1-Fetch Data",
        "links": [
            "d489ce6d.fead1"
        ],
        "x": 315,
        "y": 920,
        "wires": []
    },
    {
        "id": "416ae7bc.32065",
        "type": "link out",
        "z": "b4ec078.52640f8",
        "name": "Run TD3-2-Create Record",
        "links": [
            "7ebde3e.f31cc9c"
        ],
        "x": 315,
        "y": 960,
        "wires": []
    },
    {
        "id": "e7384e27.47f928",
        "type": "link out",
        "z": "b4ec078.52640f8",
        "name": "Run TD3-3-Update Record",
        "links": [
            "3a4a7cae.b5ffc4"
        ],
        "x": 315,
        "y": 1000,
        "wires": []
    },
    {
        "id": "c2edb8fe.56965",
        "type": "link out",
        "z": "b4ec078.52640f8",
        "name": "Run TD3-To Do Requests",
        "links": [
            "bff3e2f9.f3de6"
        ],
        "x": 395,
        "y": 140,
        "wires": []
    },
    {
        "id": "84f35b7e.1f53d",
        "type": "comment",
        "z": "b4ec078.52640f8",
        "name": "TD3-1-Fetch Data",
        "info": "",
        "x": 170,
        "y": 1040,
        "wires": []
    },
    {
        "id": "d489ce6d.fead1",
        "type": "link in",
        "z": "b4ec078.52640f8",
        "name": "TD3-1.1-Fetch Data",
        "links": [
            "e8257c0.0060808"
        ],
        "x": 115,
        "y": 1120,
        "wires": [
            [
                "4048cfb.2d6d5b"
            ]
        ]
    },
    {
        "id": "4048cfb.2d6d5b",
        "type": "function",
        "z": "b4ec078.52640f8",
        "name": "TD3-1.1-Prep",
        "func": "msg.payload = msg.todo.data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 1120,
        "wires": [
            [
                "73ce9c58.4ef614"
            ]
        ]
    },
    {
        "id": "73ce9c58.4ef614",
        "type": "connectors",
        "z": "b4ec078.52640f8",
        "server": "4cf55607.14ed48",
        "profileKey": "paul_domino_dev",
        "routeKey": "get_my_stores",
        "name": "TD3-1.1-Connector",
        "x": 450,
        "y": 1120,
        "wires": [
            [
                "f32e6fbd.a3ac38"
            ]
        ]
    },
    {
        "id": "f32e6fbd.a3ac38",
        "type": "function",
        "z": "b4ec078.52640f8",
        "name": "TD3-1.1-Finalize",
        "func": "if(msg.agilite.success){\n    try {\n      if(msg.payload.substring(0, 1) === \"<\"){\n        return node.error(\"Incorrect Username/Password. Please try again\", msg);\n      }  \n    } catch (error) {}    \n    \n    //Fix up Data Entries to be compatible with React\n    var resultData = [];\n    \n    for(var x in msg.payload){\n        resultData.push(\n            {\n                text:msg.payload[x].title,\n                value:msg.payload[x].replicaId\n            }\n        )\n    }\n    \n    msg.storeList = resultData.sort(sortBy(\"text\", false, function(a){return a.toUpperCase()}));\n    \n    //Setup To Do Variables for Looping\n    msg.toDoList = [];\n    msg.startIndex = 0;\n    msg.isComplete = false;\n\n    if(msg.storeList.length === 0){\n        msg.isComplete = true;\n    }\n\n    return msg;    \n}else{\n    return node.error(msg.agilite.messages[0], msg);\n}\n\n//PRIVATE FUNCTIONS\nfunction sortBy(field, reverse, primer){\n   var key = primer ? \n       function(x) {return primer(x[field])} : \n       function(x) {return x[field]};\n\n   reverse = !reverse ? 1 : -1;\n\n   return function (a, b) {\n       return a = key(a), b = key(b), reverse * ((a > b) - (b > a));\n     } \n}",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 1120,
        "wires": [
            [
                "71b44aa1.ae7f84"
            ]
        ]
    },
    {
        "id": "1c2a71a5.eadfd6",
        "type": "link out",
        "z": "b4ec078.52640f8",
        "name": "Run TD3-1.2-Loop",
        "links": [
            "79ec43b2.948724"
        ],
        "x": 995,
        "y": 1140,
        "wires": []
    },
    {
        "id": "3f1dda60.7cfb76",
        "type": "comment",
        "z": "b4ec078.52640f8",
        "name": "TD3-1.1-Get Store List",
        "info": "",
        "x": 200,
        "y": 1080,
        "wires": []
    },
    {
        "id": "472555d7.b9276c",
        "type": "comment",
        "z": "b4ec078.52640f8",
        "name": "TD3-1.2-Get To Dos Per Store",
        "info": "",
        "x": 220,
        "y": 1180,
        "wires": []
    },
    {
        "id": "79ec43b2.948724",
        "type": "link in",
        "z": "b4ec078.52640f8",
        "name": "TD3-1.2-Loop",
        "links": [
            "1c2a71a5.eadfd6",
            "901b3648.72621"
        ],
        "x": 115,
        "y": 1220,
        "wires": [
            [
                "fb183b58.adf2c"
            ]
        ]
    },
    {
        "id": "fb183b58.adf2c",
        "type": "function",
        "z": "b4ec078.52640f8",
        "name": "TD3-1.2-Prep",
        "func": "var tmpStatus = \"\";\n\nswitch(msg.todo.reqType){\n    case \"1\":\n        tmpStatus = \"Active\";\n        break;\n    case \"2\":\n        tmpStatus = \"Reassigned\";\n        break;\n    case \"3\":\n        tmpStatus = \"Complete\";\n        break;\n    case \"4\":\n        tmpStatus = \"Overdue\";\n        break;\n}\n\nmsg.payload = {\n    credentialsBase64:msg.todo.data.credentialsBase64,\n    status:tmpStatus,\n    storeId:msg.storeList[msg.startIndex].value\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 1220,
        "wires": [
            [
                "a977ae73.a88ce"
            ]
        ]
    },
    {
        "id": "a977ae73.a88ce",
        "type": "connectors",
        "z": "b4ec078.52640f8",
        "server": "4cf55607.14ed48",
        "profileKey": "paul_domino_dev",
        "routeKey": "get_todos",
        "name": "TD3-1.2-Connector",
        "x": 450,
        "y": 1220,
        "wires": [
            [
                "f22a8e5e.b8408"
            ]
        ]
    },
    {
        "id": "f22a8e5e.b8408",
        "type": "function",
        "z": "b4ec078.52640f8",
        "name": "TD3-1.2-Finalize",
        "func": "if(msg.agilite.success){\n    //Add To Dos to global list\n    for(var x in msg.payload){\n        msg.toDoList.push(\n            {\n                _id:msg.payload[x].metaversalId,\n                taskName:msg.payload[x].taskName,\n                data:msg.payload[x]\n            }\n        )\n    }\n    \n    //Setup Loop Parameters\n    msg.startIndex++;\n    \n    if(msg.startIndex >= msg.storeList.length){\n        msg.isComplete = true;\n        \n        //Sort To Do List\n        msg.payload = msg.toDoList.sort(sortBy(\"taskName\", false, function(a){return a.toUpperCase()}));\n    }\n    \n    return msg;    \n}else{\n    return node.error(msg.agilite.messages[0], msg);\n}\n\n//PRIVATE FUNCTIONS\nfunction sortBy(field, reverse, primer){\n   var key = primer ? \n       function(x) {return primer(x[field])} : \n       function(x) {return x[field]};\n\n   reverse = !reverse ? 1 : -1;\n\n   return function (a, b) {\n       return a = key(a), b = key(b), reverse * ((a > b) - (b > a));\n     } \n}",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 1220,
        "wires": [
            [
                "92d257ee.1a1138"
            ]
        ]
    },
    {
        "id": "92d257ee.1a1138",
        "type": "switch",
        "z": "b4ec078.52640f8",
        "name": "TD3-1.2-Looper",
        "property": "isComplete",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 860,
        "y": 1220,
        "wires": [
            [
                "3aa51f0c.eff918"
            ],
            [
                "901b3648.72621"
            ]
        ]
    },
    {
        "id": "901b3648.72621",
        "type": "link out",
        "z": "b4ec078.52640f8",
        "name": "Run TD3-1.2-Loop",
        "links": [
            "79ec43b2.948724"
        ],
        "x": 1015,
        "y": 1240,
        "wires": []
    },
    {
        "id": "3aa51f0c.eff918",
        "type": "link out",
        "z": "b4ec078.52640f8",
        "name": "Run TD-Finalize",
        "links": [
            "d8f65a3a.05a4b"
        ],
        "x": 1015,
        "y": 1200,
        "wires": []
    },
    {
        "id": "56a96c1d.a5c924",
        "type": "comment",
        "z": "b4ec078.52640f8",
        "name": "TD3-2-Create Record",
        "info": "",
        "x": 180,
        "y": 1280,
        "wires": []
    },
    {
        "id": "7ebde3e.f31cc9c",
        "type": "link in",
        "z": "b4ec078.52640f8",
        "name": "TD3-2-Create Record",
        "links": [
            "416ae7bc.32065"
        ],
        "x": 95,
        "y": 1320,
        "wires": [
            [
                "a1b8dc9e.004ca8"
            ]
        ]
    },
    {
        "id": "a1b8dc9e.004ca8",
        "type": "function",
        "z": "b4ec078.52640f8",
        "name": "TD3-2-Prep",
        "func": "msg.payload = msg.todo.data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 1320,
        "wires": [
            [
                "95721edd.539258"
            ]
        ]
    },
    {
        "id": "95721edd.539258",
        "type": "connectors",
        "z": "b4ec078.52640f8",
        "server": "4cf55607.14ed48",
        "profileKey": "paul_domino_dev",
        "routeKey": "create_todo",
        "name": "TD3-2-Connector",
        "x": 410,
        "y": 1320,
        "wires": [
            [
                "b894453f.db2b6"
            ]
        ]
    },
    {
        "id": "b894453f.db2b6",
        "type": "function",
        "z": "b4ec078.52640f8",
        "name": "TD3-2-Finalize",
        "func": "if(msg.agilite.success){\n    try {\n      if(msg.payload.substring(0, 1) === \"<\"){\n        return node.error(\"Incorrect Username/Password. Please try again\", msg);\n      }  \n    } catch (error) {}    \n    \n    //Fix up Data Entries to be compatible with React\n    var resultData = {\n        _id:msg.payload.metaversalId,\n        custom:msg.todo.data.custom,\n        data:msg.payload \n    };\n    \n    msg.payload = resultData;    \n    \n    return msg;    \n}else{\n    return node.error(msg.agilite.messages[0], msg);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 1320,
        "wires": [
            [
                "944cc482.2fce48"
            ]
        ]
    },
    {
        "id": "944cc482.2fce48",
        "type": "link out",
        "z": "b4ec078.52640f8",
        "name": "Run TD-Finalize",
        "links": [
            "d8f65a3a.05a4b"
        ],
        "x": 755,
        "y": 1320,
        "wires": []
    },
    {
        "id": "7cbbda40.5625e4",
        "type": "comment",
        "z": "b4ec078.52640f8",
        "name": "TD3-3-Update Record",
        "info": "",
        "x": 180,
        "y": 1380,
        "wires": []
    },
    {
        "id": "3a4a7cae.b5ffc4",
        "type": "link in",
        "z": "b4ec078.52640f8",
        "name": "TD3-3-Update Record",
        "links": [
            "e7384e27.47f928"
        ],
        "x": 95,
        "y": 1420,
        "wires": [
            [
                "32f15c9d.828e9c"
            ]
        ]
    },
    {
        "id": "32f15c9d.828e9c",
        "type": "function",
        "z": "b4ec078.52640f8",
        "name": "TD3-3-Prep",
        "func": "msg.payload = msg.todo.data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 1420,
        "wires": [
            [
                "435d177f.7c204"
            ]
        ]
    },
    {
        "id": "435d177f.7c204",
        "type": "connectors",
        "z": "b4ec078.52640f8",
        "server": "4cf55607.14ed48",
        "profileKey": "paul_domino_dev",
        "routeKey": "update_todo",
        "name": "TD3-3-Connector",
        "x": 410,
        "y": 1420,
        "wires": [
            [
                "5d5c7e94.866e78"
            ]
        ]
    },
    {
        "id": "5d5c7e94.866e78",
        "type": "function",
        "z": "b4ec078.52640f8",
        "name": "TD3-3-Finalize",
        "func": "if(msg.agilite.success){\n    try {\n      if(msg.payload.substring(0, 1) === \"<\"){\n        return node.error(\"Incorrect Username/Password. Please try again\", msg);\n      }  \n    } catch (error) {}    \n    \n    //Fix up Data Entries to be compatible with React\n    var resultData = {\n        _id:msg.payload.metaversalId,\n        custom:msg.todo.data.custom,\n        data:msg.payload   \n    };\n    \n    msg.payload = resultData;    \n    \n    return msg;    \n}else{\n    return node.error(msg.agilite.messages[0], msg);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 1420,
        "wires": [
            [
                "2d52ab50.f3a1fc"
            ]
        ]
    },
    {
        "id": "2d52ab50.f3a1fc",
        "type": "link out",
        "z": "b4ec078.52640f8",
        "name": "Run TD-Finalize",
        "links": [
            "d8f65a3a.05a4b"
        ],
        "x": 755,
        "y": 1420,
        "wires": []
    },
    {
        "id": "2f86c3f3.5a8b5c",
        "type": "link in",
        "z": "b4ec078.52640f8",
        "name": "TD1.2-Get Users",
        "links": [
            "53310d0b.94ebfc"
        ],
        "x": 75,
        "y": 360,
        "wires": [
            [
                "bf427ea.4dd238"
            ]
        ]
    },
    {
        "id": "bf427ea.4dd238",
        "type": "function",
        "z": "b4ec078.52640f8",
        "name": "TD1.2-Prep",
        "func": "msg.payload = msg.todo.data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 360,
        "wires": [
            [
                "1bf596ea.b1ed49"
            ]
        ]
    },
    {
        "id": "ded8d2b0.953c8",
        "type": "function",
        "z": "b4ec078.52640f8",
        "name": "TD1.2-Finalize",
        "func": "if(msg.agilite.success){\n    //Create User List for React App\n    var userList = [];\n    var entry = {};\n    var prefix = \"CN=\";\n    var suffix = \"/O=Intec\";\n    \n    for(var x in msg.payload.data){\n        entry = {\n            text:msg.payload.data[x].label,\n            value:prefix + msg.payload.data[x].label + suffix\n        };\n        \n        userList.push(entry);\n    }\n    \n    //Finalize Payload\n    msg.payload = {\n        users:userList,\n        user:msg.user\n    };\n    \n    return msg;    \n}else{\n    return node.error(msg.agilite.messages[0], msg);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 360,
        "wires": [
            [
                "ec9c3200.612fa8"
            ]
        ]
    },
    {
        "id": "ec9c3200.612fa8",
        "type": "link out",
        "z": "b4ec078.52640f8",
        "name": "Run TD-Finalize",
        "links": [
            "d8f65a3a.05a4b"
        ],
        "x": 735,
        "y": 360,
        "wires": []
    },
    {
        "id": "571753a1.789434",
        "type": "comment",
        "z": "b4ec078.52640f8",
        "name": "TD1.1-Authenticate",
        "info": "",
        "x": 150,
        "y": 220,
        "wires": []
    },
    {
        "id": "1bf596ea.b1ed49",
        "type": "keywords",
        "z": "b4ec078.52640f8",
        "server": "4cf55607.14ed48",
        "actionType": "1",
        "recordId": "",
        "profileKey": "todo_responsible_people",
        "groupName": "",
        "labelKey": "",
        "valueKey": "",
        "sortBy": "asc",
        "name": "TD1.2-Keywords",
        "x": 390,
        "y": 360,
        "wires": [
            [
                "ded8d2b0.953c8"
            ]
        ]
    },
    {
        "id": "15f3eee5.5c11f9",
        "type": "comment",
        "z": "b4ec078.52640f8",
        "name": "TD1.2-Get Users",
        "info": "",
        "x": 140,
        "y": 320,
        "wires": []
    },
    {
        "id": "3de2bed6.c01d4a",
        "type": "comment",
        "z": "ea466807.4bb71",
        "name": "WC: Send Message",
        "info": "",
        "x": 210,
        "y": 40,
        "wires": []
    },
    {
        "id": "95bfe15f.fc9c5",
        "type": "connectors",
        "z": "ea466807.4bb71",
        "server": "4cf55607.14ed48",
        "profileKey": "wc_todo",
        "routeKey": "send",
        "name": "WC: Send Msg",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "1416cab2.109d15"
            ]
        ]
    },
    {
        "id": "1416cab2.109d15",
        "type": "function",
        "z": "ea466807.4bb71",
        "name": "WC: Process Result",
        "func": "if(msg.agilite.success){\n    if(msg.payload.context && msg.payload.context.workflowStep){\n        msg.wc.context = msg.payload.context;\n        msg.wc.workflowStep = msg.payload.context.workflowStep;\n        msg.wc.responseTitle = msg.payload.context.responseTitle;\n        msg.wc.responseMessage = msg.payload.output;\n        \n        if(msg.wc.context.titleExamples){\n            msg.wc.titleExamples = msg.wc.context.titleExamples;\n            delete msg.wc.context.titleExamples;\n        }\n  \n        if(msg.wc.context.messageExamples){\n            msg.wc.messageExamples = msg.wc.context.messageExamples;\n            delete msg.wc.context.messageExamples;\n        }  \n        \n        if(msg.wc.context.performAction){\n            msg.wc.performAction = msg.wc.context.performAction;\n            delete msg.wc.context.performAction;\n        }\n    }\n}else{\n    return node.error(JSON.stringify(msg.agilite.messages[0]), msg);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 100,
        "wires": [
            [
                "eff5d109.fdfe8"
            ]
        ]
    },
    {
        "id": "eff5d109.fdfe8",
        "type": "switch",
        "z": "ea466807.4bb71",
        "name": "WC: Check Workflow Step",
        "property": "wc.workflowStep",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0.1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 700,
        "y": 100,
        "wires": [
            [
                "ba0c4e18.2e60a8"
            ],
            [
                "82e27d4d.df7308"
            ],
            [
                "280986da.4efe52"
            ],
            [
                "5c823eff.4e70e"
            ]
        ]
    },
    {
        "id": "bee41226.d0a2b",
        "type": "comment",
        "z": "ea466807.4bb71",
        "name": "WC: Workflow Step 0",
        "info": "",
        "x": 200,
        "y": 180,
        "wires": []
    },
    {
        "id": "48fa5499.acf8cc",
        "type": "link in",
        "z": "ea466807.4bb71",
        "name": "WC: Workflow Step 0",
        "links": [
            "e7641e19.510c3",
            "ba0c4e18.2e60a8",
            "287cb4ba.dd66e4"
        ],
        "x": 115,
        "y": 220,
        "wires": [
            [
                "9dbb703.4f03f9"
            ]
        ]
    },
    {
        "id": "fed92390.b5b42",
        "type": "link out",
        "z": "ea466807.4bb71",
        "name": "WC: Run Finalize",
        "links": [
            "7734516b.8b468"
        ],
        "x": 375,
        "y": 260,
        "wires": []
    },
    {
        "id": "9dbb703.4f03f9",
        "type": "function",
        "z": "ea466807.4bb71",
        "name": "WC: S0-Prep 1",
        "func": "msg.payload = {\n    cacheId:msg.wc.cacheId\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 220,
        "wires": [
            [
                "442f79fe.47ada",
                "fed92390.b5b42"
            ]
        ]
    },
    {
        "id": "442f79fe.47ada",
        "type": "connectors",
        "z": "ea466807.4bb71",
        "server": "4cf55607.14ed48",
        "profileKey": "wc_todo",
        "routeKey": "delete",
        "name": "WC: S0-Delete Context",
        "x": 470,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ba0c4e18.2e60a8",
        "type": "link out",
        "z": "ea466807.4bb71",
        "name": "WC: Run Workflow Step 0",
        "links": [
            "48fa5499.acf8cc"
        ],
        "x": 975,
        "y": 40,
        "wires": []
    },
    {
        "id": "7734516b.8b468",
        "type": "link in",
        "z": "ea466807.4bb71",
        "name": "WC: Finalize",
        "links": [
            "23cf7c74.87229c",
            "4aa3f461.4e0454",
            "fed92390.b5b42",
            "cc5b1b0.3f55fe8",
            "d43df89f.fef8",
            "5c823eff.4e70e",
            "45f02708.7ce2e"
        ],
        "x": 1195,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b9de9649.99c5d8",
        "type": "comment",
        "z": "ea466807.4bb71",
        "name": "WC: Workflow Step 1 - New To Do",
        "info": "",
        "x": 240,
        "y": 440,
        "wires": []
    },
    {
        "id": "6ac585ab.1168ec",
        "type": "link in",
        "z": "ea466807.4bb71",
        "name": "WC: Workflow Step 1",
        "links": [
            "280986da.4efe52"
        ],
        "x": 115,
        "y": 500,
        "wires": [
            [
                "cd125d3b.ca9b18"
            ]
        ]
    },
    {
        "id": "cd125d3b.ca9b18",
        "type": "switch",
        "z": "ea466807.4bb71",
        "name": "WC: S1-Check Perform Action",
        "property": "wc.performAction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "action_submit",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "action_confirm",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 290,
        "y": 500,
        "wires": [
            [
                "28216646.a15f72"
            ],
            [
                "20427d22.7b985a"
            ],
            [
                "28b69e79.af8f82"
            ]
        ]
    },
    {
        "id": "cc5b1b0.3f55fe8",
        "type": "link out",
        "z": "ea466807.4bb71",
        "name": "WC: Run Finalize",
        "links": [
            "7734516b.8b468"
        ],
        "x": 655,
        "y": 620,
        "wires": []
    },
    {
        "id": "20427d22.7b985a",
        "type": "function",
        "z": "ea466807.4bb71",
        "name": "WC: S1-Prep 2",
        "func": "msg.wc.responseMessage += \"\\n*Task Name:* \" + msg.wc.context.taskName;  \nmsg.wc.responseMessage += \"\\n*Description:* \" + msg.wc.context.description;  \nmsg.wc.responseMessage += \"\\n*Due Date:* \" + msg.wc.context.dueDate;\nmsg.wc.responseMessage += \"\\n*Assigned To:* \" + msg.wc.context.assignedTo;\nmsg.wc.responseMessage += \"\\n*Priority:* \" + msg.wc.context.priority;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 500,
        "wires": [
            [
                "28b69e79.af8f82"
            ]
        ]
    },
    {
        "id": "3c6bf9f1.08dabe",
        "type": "connectors",
        "z": "ea466807.4bb71",
        "server": "4cf55607.14ed48",
        "profileKey": "wc_todo",
        "routeKey": "save",
        "name": "WC: S1-Save Context",
        "x": 740,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "8c2f22a6.bc02a",
        "type": "function",
        "z": "ea466807.4bb71",
        "name": "WC: S1-Process 1",
        "func": "if(msg.agilite.success){\n    msg.users = msg.payload.data;\n}else{\n    return node.error(msg.agilite.messages[0], msg);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 420,
        "wires": [
            [
                "277b1376.d36dc4"
            ]
        ]
    },
    {
        "id": "c1ace850.0eccd",
        "type": "function",
        "z": "ea466807.4bb71",
        "name": "WC: S1-Prep Result",
        "func": "if(msg.agilite.success){\n    msg.wc.responseTitle = \"New To Do\";\n    msg.wc.responseMessage = \"To Do successfully created\";\n}else{\n    msg.wc.responseTitle = \"To Do Submission Failed\";\n    msg.wc.responseMessage = \"Apologies. Something went wrong with submitting the To Do. Please start over\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1100,
        "y": 420,
        "wires": [
            [
                "e7641e19.510c3",
                "46f377ac.d36448"
            ]
        ]
    },
    {
        "id": "e7641e19.510c3",
        "type": "link out",
        "z": "ea466807.4bb71",
        "name": "WC: Run Workflow Step 0",
        "links": [
            "48fa5499.acf8cc"
        ],
        "x": 1255,
        "y": 400,
        "wires": []
    },
    {
        "id": "280986da.4efe52",
        "type": "link out",
        "z": "ea466807.4bb71",
        "name": "WC: Run Workflow Step 1",
        "links": [
            "6ac585ab.1168ec"
        ],
        "x": 975,
        "y": 120,
        "wires": []
    },
    {
        "id": "5c823eff.4e70e",
        "type": "link out",
        "z": "ea466807.4bb71",
        "name": "WC: Run Finalize",
        "links": [
            "7734516b.8b468"
        ],
        "x": 975,
        "y": 160,
        "wires": []
    },
    {
        "id": "7e282c2.94fd854",
        "type": "comment",
        "z": "ea466807.4bb71",
        "name": "WC: Finalize",
        "info": "",
        "x": 1250,
        "y": 60,
        "wires": []
    },
    {
        "id": "28b69e79.af8f82",
        "type": "function",
        "z": "ea466807.4bb71",
        "name": "WC: S1-Prep 3",
        "func": "msg.payload = {\n    cacheId:msg.wc.cacheId,\n    context:JSON.stringify(msg.wc.context)\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 600,
        "wires": [
            [
                "cc5b1b0.3f55fe8",
                "3c6bf9f1.08dabe"
            ]
        ]
    },
    {
        "id": "7fc3c1d5.a15ef8",
        "type": "comment",
        "z": "ea466807.4bb71",
        "name": "WC: Workflow Step 0.1",
        "info": "",
        "x": 200,
        "y": 300,
        "wires": []
    },
    {
        "id": "e5aa3386.729f4",
        "type": "link in",
        "z": "ea466807.4bb71",
        "name": "WC: Workflow Step 0.1",
        "links": [
            "82e27d4d.df7308"
        ],
        "x": 115,
        "y": 340,
        "wires": [
            [
                "a4d9ae96.55b53"
            ]
        ]
    },
    {
        "id": "45f02708.7ce2e",
        "type": "link out",
        "z": "ea466807.4bb71",
        "name": "WC: Run Finalize",
        "links": [
            "7734516b.8b468"
        ],
        "x": 395,
        "y": 380,
        "wires": []
    },
    {
        "id": "a4d9ae96.55b53",
        "type": "function",
        "z": "ea466807.4bb71",
        "name": "WC: S0.1-Prep 1",
        "func": "msg.payload = {\n    cacheId:msg.wc.cacheId,\n    context:JSON.stringify(msg.wc.context)\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 340,
        "wires": [
            [
                "a60fefa3.3f216",
                "45f02708.7ce2e"
            ]
        ]
    },
    {
        "id": "a60fefa3.3f216",
        "type": "connectors",
        "z": "ea466807.4bb71",
        "server": "4cf55607.14ed48",
        "profileKey": "wc_todo",
        "routeKey": "save",
        "name": "WC: S0.1-Save Context",
        "x": 490,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "82e27d4d.df7308",
        "type": "link out",
        "z": "ea466807.4bb71",
        "name": "WC: Run Workflow Step 0",
        "links": [
            "e5aa3386.729f4"
        ],
        "x": 975,
        "y": 80,
        "wires": []
    },
    {
        "id": "936a9cfa.12abc",
        "type": "http in",
        "z": "1b97155.a77c06b",
        "name": "WW: Webhook",
        "url": "/ww/execute",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "e8d8f665.2536d8"
            ]
        ]
    },
    {
        "id": "e8d8f665.2536d8",
        "type": "function",
        "z": "1b97155.a77c06b",
        "name": "WW: Determine Msg Type",
        "func": "msg.ww = msg.payload;\nmsg.ww.reponse = null;\n\nif((msg.ww.type !== \"message-annotation-added\" && msg.ww.type !== \"message-created\" && msg.payload.type !== \"verification\") || msg.ww.content === \"\"){\n    msg.ww.type = \"\";\n}else{\n    if(msg.ww.type === \"message-annotation-added\"){\n        msg.ww.annotationPayload = JSON.parse(msg.ww.annotationPayload);\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "1da15b59.53454d"
            ]
        ]
    },
    {
        "id": "1da15b59.53454d",
        "type": "switch",
        "z": "1b97155.a77c06b",
        "name": "WW: Check Req Type",
        "property": "ww.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "verification",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message-created",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 640,
        "y": 120,
        "wires": [
            [
                "94230afb.0aa99"
            ],
            [
                "462a58a6.df8d48",
                "704ad807.1ea9c"
            ],
            [
                "704ad807.1ea9c"
            ]
        ]
    },
    {
        "id": "654676b0.63dda",
        "type": "connectors",
        "z": "1b97155.a77c06b",
        "server": "4cf55607.14ed48",
        "profileKey": "ww_todo",
        "routeKey": "challenge",
        "name": "WW: Challenge Request",
        "x": 230,
        "y": 220,
        "wires": [
            [
                "b9603911.678578"
            ]
        ]
    },
    {
        "id": "b9603911.678578",
        "type": "function",
        "z": "1b97155.a77c06b",
        "name": "WW: Provide Response Header",
        "func": "if(!msg.agilite.success){\n    return node.error(JSON.stringify(msg.agilite.messages[0]), msg);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 220,
        "wires": [
            [
                "b736252c.0e0768",
                "5939b049.44c178"
            ]
        ]
    },
    {
        "id": "7c9ed610.97e8c8",
        "type": "catch",
        "z": "1b97155.a77c06b",
        "name": "WW: Catch Errors",
        "scope": null,
        "x": 1130,
        "y": 100,
        "wires": [
            [
                "b9149f37.f37d3"
            ]
        ]
    },
    {
        "id": "b9149f37.f37d3",
        "type": "function",
        "z": "1b97155.a77c06b",
        "name": "WW: Prepare Error Log",
        "func": "msg.payload = {\n    success:false,\n    title:msg.error.message,\n    data:msg.error.source\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1252.1429443359375,
        "y": 154.28594970703125,
        "wires": [
            [
                "7583bbb6.68a8dc"
            ]
        ]
    },
    {
        "id": "2b0af723.0954",
        "type": "link in",
        "z": "1b97155.a77c06b",
        "name": "WW: HTTP Result",
        "links": [
            "b736252c.0e0768",
            "704ad807.1ea9c"
        ],
        "x": 1035,
        "y": 320,
        "wires": [
            [
                "cfae15ae.a82e08"
            ]
        ]
    },
    {
        "id": "cfae15ae.a82e08",
        "type": "http response",
        "z": "1b97155.a77c06b",
        "name": "WW: HTTP Result",
        "statusCode": "",
        "headers": {},
        "x": 1190.71435546875,
        "y": 319.28570556640625,
        "wires": []
    },
    {
        "id": "74077a96.cf1244",
        "type": "debug",
        "z": "1b97155.a77c06b",
        "name": "WW: Debug Result",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1190,
        "y": 280,
        "wires": []
    },
    {
        "id": "33a58066.91a2d",
        "type": "comment",
        "z": "1b97155.a77c06b",
        "name": "WW: Finalize",
        "info": "",
        "x": 1168.7142333984375,
        "y": 230.42822265625,
        "wires": []
    },
    {
        "id": "7583bbb6.68a8dc",
        "type": "link out",
        "z": "1b97155.a77c06b",
        "name": "WW: Run Debug Result",
        "links": [
            "27a0cc9a.b1ee7c"
        ],
        "x": 1348.571533203125,
        "y": 92.50018310546875,
        "wires": []
    },
    {
        "id": "8da70e2d.cf403",
        "type": "comment",
        "z": "1b97155.a77c06b",
        "name": "WW: Challenge Request",
        "info": "- Accepts the Challenge request and provides the response\n- Triggers the generation of the OAuth Token",
        "x": 150,
        "y": 180,
        "wires": []
    },
    {
        "id": "c1f8cfa.2b72e3",
        "type": "link in",
        "z": "1b97155.a77c06b",
        "name": "WW: Challenge Request",
        "links": [
            "94230afb.0aa99"
        ],
        "x": 55,
        "y": 220,
        "wires": [
            [
                "654676b0.63dda"
            ]
        ]
    },
    {
        "id": "b736252c.0e0768",
        "type": "link out",
        "z": "1b97155.a77c06b",
        "name": "WW: Run HTTP Result",
        "links": [
            "2b0af723.0954"
        ],
        "x": 735,
        "y": 200,
        "wires": []
    },
    {
        "id": "94230afb.0aa99",
        "type": "link out",
        "z": "1b97155.a77c06b",
        "name": "WW: Run Challenge Request",
        "links": [
            "c1f8cfa.2b72e3"
        ],
        "x": 835,
        "y": 80,
        "wires": []
    },
    {
        "id": "3f36d790.5c92",
        "type": "comment",
        "z": "1b97155.a77c06b",
        "name": "WW: Generated OAuth",
        "info": "- WW OAuth Token expires every 1 hour.\n- To be safe, we generate the token every 45 minutes",
        "x": 140,
        "y": 280,
        "wires": []
    },
    {
        "id": "e4ccd348.a2a11",
        "type": "link in",
        "z": "1b97155.a77c06b",
        "name": "WW: Generate OAuth",
        "links": [
            "5939b049.44c178"
        ],
        "x": 295,
        "y": 360,
        "wires": [
            [
                "543df09f.446f48"
            ]
        ]
    },
    {
        "id": "5939b049.44c178",
        "type": "link out",
        "z": "1b97155.a77c06b",
        "name": "WW: Run Generate OAuth",
        "links": [
            "e4ccd348.a2a11"
        ],
        "x": 735,
        "y": 240,
        "wires": []
    },
    {
        "id": "d0d4ab7e.453e38",
        "type": "inject",
        "z": "1b97155.a77c06b",
        "name": "WW: Gen OAuth every 45 Min",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "2700",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "543df09f.446f48"
            ]
        ]
    },
    {
        "id": "543df09f.446f48",
        "type": "connectors",
        "z": "1b97155.a77c06b",
        "server": "4cf55607.14ed48",
        "profileKey": "ww_todo",
        "routeKey": "oauth",
        "name": "WW: Generate OAuth",
        "x": 460,
        "y": 320,
        "wires": [
            [
                "c598d020.fa78f8"
            ]
        ]
    },
    {
        "id": "c598d020.fa78f8",
        "type": "link out",
        "z": "1b97155.a77c06b",
        "name": "WW: Run Debug Result",
        "links": [
            "27a0cc9a.b1ee7c"
        ],
        "x": 635,
        "y": 320,
        "wires": []
    },
    {
        "id": "462a58a6.df8d48",
        "type": "link out",
        "z": "1b97155.a77c06b",
        "name": "WW: Run Msg Created",
        "links": [
            "f4537e88.1fdc4"
        ],
        "x": 835,
        "y": 120,
        "wires": []
    },
    {
        "id": "704ad807.1ea9c",
        "type": "link out",
        "z": "1b97155.a77c06b",
        "name": "WW: Run HTTP Result",
        "links": [
            "2b0af723.0954"
        ],
        "x": 835,
        "y": 160,
        "wires": []
    },
    {
        "id": "7fec2ef9.da7de8",
        "type": "comment",
        "z": "1b97155.a77c06b",
        "name": "WW: Watson Workspace Webhook",
        "info": "Watson Workspace will trigger flows through this Webhook",
        "x": 180,
        "y": 80,
        "wires": []
    },
    {
        "id": "1259f929.5222ef",
        "type": "comment",
        "z": "1b97155.a77c06b",
        "name": "WW: Send Reply",
        "info": "",
        "x": 120,
        "y": 520,
        "wires": []
    },
    {
        "id": "eabe9a63.36dff",
        "type": "link in",
        "z": "1b97155.a77c06b",
        "name": "WW: Reply",
        "links": [
            "3b76a861.430d2"
        ],
        "x": 55,
        "y": 560,
        "wires": [
            [
                "7e83a808.1e5738"
            ]
        ]
    },
    {
        "id": "78534d0f.b0c884",
        "type": "connectors",
        "z": "1b97155.a77c06b",
        "server": "4cf55607.14ed48",
        "profileKey": "ww_todo",
        "routeKey": "send",
        "name": "WW: Send Reply",
        "x": 450,
        "y": 540,
        "wires": [
            [
                "5da8ac0e.b71fec"
            ]
        ]
    },
    {
        "id": "7e9c0ec6.4dc0b8",
        "type": "function",
        "z": "1b97155.a77c06b",
        "name": "WW: Prep Msg Created Reply",
        "func": "//Finalize logic\nvar extendedMessage = \"\";\n\nif(msg.wc.messageExamples && msg.wc.messageExamples.length > 0){\n    extendedMessage = \"\\ne.g. \";\n    extendedMessage += \"`\" + msg.wc.messageExamples.join(\"` - `\") + \"`\";\n    \n    msg.wc.responseMessage += extendedMessage;\n}\n\nif(msg.wc.titleExamples && msg.wc.titleExamples.length > 0){\n    extendedMessage = \": ACTIONS = \";\n    extendedMessage += \"( \" + msg.wc.titleExamples.join(\" / \") + \" )\";\n\n    msg.wc.responseTitle += extendedMessage;\n}    \n\n//Create Final Payload\nmsg.payload = {\n    spaceId:msg.ww.spaceId,\n    title:msg.wc.responseTitle,\n    message:msg.wc.responseMessage\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 440,
        "wires": [
            [
                "3b76a861.430d2"
            ]
        ]
    },
    {
        "id": "5da8ac0e.b71fec",
        "type": "link out",
        "z": "1b97155.a77c06b",
        "name": "WW: Run Debug Result",
        "links": [
            "27a0cc9a.b1ee7c"
        ],
        "x": 635,
        "y": 560,
        "wires": []
    },
    {
        "id": "7e83a808.1e5738",
        "type": "switch",
        "z": "1b97155.a77c06b",
        "name": "WW: Check Reply",
        "property": "payload.message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 210,
        "y": 560,
        "wires": [
            [
                "78534d0f.b0c884"
            ],
            [
                "5da8ac0e.b71fec"
            ]
        ]
    },
    {
        "id": "27a0cc9a.b1ee7c",
        "type": "link in",
        "z": "1b97155.a77c06b",
        "name": "WW: Debug Result",
        "links": [
            "7583bbb6.68a8dc",
            "c598d020.fa78f8",
            "5da8ac0e.b71fec"
        ],
        "x": 1035,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "ac7e4410.a5abb",
        "type": "comment",
        "z": "1b97155.a77c06b",
        "name": "WW: Msg Created",
        "info": "",
        "x": 130,
        "y": 400,
        "wires": []
    },
    {
        "id": "f4537e88.1fdc4",
        "type": "link in",
        "z": "1b97155.a77c06b",
        "name": "WW: Msg Created",
        "links": [
            "462a58a6.df8d48"
        ],
        "x": 55,
        "y": 440,
        "wires": [
            [
                "3f4f2e4a.ea5eda"
            ]
        ]
    },
    {
        "id": "3f4f2e4a.ea5eda",
        "type": "function",
        "z": "1b97155.a77c06b",
        "name": "WW: Prep Msg Created",
        "func": "msg.wc = {\n    workflowStep:\"\",\n    performAction:\"\",\n    cacheId:msg.ww.spaceId + msg.ww.userId,\n    context:JSON.stringify({userId:msg.ww.userId, username:msg.ww.userName}),\n    message:msg.ww.content,\n    responseTitle:\"\",\n    responseMessage:\"\",\n    messageExamples:[],\n    titleExamples:[]\n};\n\nmsg.payload = msg.wc;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 440,
        "wires": [
            [
                "105b2799.11e528"
            ]
        ]
    },
    {
        "id": "3b76a861.430d2",
        "type": "link out",
        "z": "1b97155.a77c06b",
        "name": "WW: Run Reply",
        "links": [
            "eabe9a63.36dff"
        ],
        "x": 915,
        "y": 440,
        "wires": []
    },
    {
        "id": "105b2799.11e528",
        "type": "subflow:ea466807.4bb71",
        "z": "1b97155.a77c06b",
        "name": "",
        "x": 460,
        "y": 440,
        "wires": [
            [
                "7e9c0ec6.4dc0b8"
            ]
        ]
    },
    {
        "id": "7e78a572.21d3dc",
        "type": "function",
        "z": "c5f41c08.1c033",
        "name": "AF-WS Prep",
        "func": "msg.todo = {\n    connectionType:msg.req.headers[\"connection-type\"],\n    reqType:msg.req.headers[\"req-type\"],\n    data:{\n        credentialsBase64:msg.payload.credentials,\n        record:msg.payload.record,\n        custom:msg.payload.custom\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "a0796424.2325f8"
            ]
        ]
    },
    {
        "id": "a0796424.2325f8",
        "type": "subflow:b4ec078.52640f8",
        "z": "c5f41c08.1c033",
        "name": "",
        "x": 450,
        "y": 80,
        "wires": [
            [
                "d8a67ad8.4ac228"
            ]
        ]
    },
    {
        "id": "d8a67ad8.4ac228",
        "type": "link out",
        "z": "c5f41c08.1c033",
        "name": "Run AF-Process Result",
        "links": [
            "8e7ef975.056728"
        ],
        "x": 555,
        "y": 80,
        "wires": []
    },
    {
        "id": "d8f65a3a.05a4b",
        "type": "link in",
        "z": "b4ec078.52640f8",
        "name": "TD-Finalize",
        "links": [
            "ec9c3200.612fa8",
            "e16e62d2.272538",
            "4510642e.278e8c",
            "e6323724.e4f1d8",
            "3aa51f0c.eff918",
            "944cc482.2fce48",
            "2d52ab50.f3a1fc",
            "bd6b2b21.884c88"
        ],
        "x": 1175,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "2596f381.7f4ab4",
        "type": "comment",
        "z": "b4ec078.52640f8",
        "name": "TD-End",
        "info": "",
        "x": 1210,
        "y": 40,
        "wires": []
    },
    {
        "id": "71b44aa1.ae7f84",
        "type": "switch",
        "z": "b4ec078.52640f8",
        "name": "TD3-1.1-Looper",
        "property": "isComplete",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 860,
        "y": 1120,
        "wires": [
            [
                "bd6b2b21.884c88"
            ],
            [
                "1c2a71a5.eadfd6"
            ]
        ]
    },
    {
        "id": "bd6b2b21.884c88",
        "type": "link out",
        "z": "b4ec078.52640f8",
        "name": "Run TD-Finalize",
        "links": [
            "d8f65a3a.05a4b"
        ],
        "x": 995,
        "y": 1100,
        "wires": []
    },
    {
        "id": "98530f65.9a81f8",
        "type": "subflow:b4ec078.52640f8",
        "z": "ea466807.4bb71",
        "name": "",
        "x": 970,
        "y": 460,
        "wires": [
            [
                "c1ace850.0eccd"
            ]
        ]
    },
    {
        "id": "28216646.a15f72",
        "type": "keywords",
        "z": "ea466807.4bb71",
        "server": "4cf55607.14ed48",
        "actionType": "1",
        "recordId": "",
        "profileKey": "todo_responsible_people",
        "groupName": "",
        "labelKey": "",
        "valueKey": "",
        "sortBy": "",
        "name": "WC: S1-Users",
        "x": 540,
        "y": 460,
        "wires": [
            [
                "8c2f22a6.bc02a"
            ]
        ]
    },
    {
        "id": "75970d73.f3aab4",
        "type": "function",
        "z": "ea466807.4bb71",
        "name": "WC: S1-Prep 1",
        "func": "var username = \"\";\nvar storeId = \"\";\nvar wwToken = \"\";\nvar connectionType = \"\";\nvar reqType = \"\";\nvar defaultStatus = \"\";\n\n//Get Current user\nfor(var x in msg.users){\n    if(msg.users[x].value === msg.ww.userId){\n        username = msg.users[x].label;\n        break;\n    }\n}\n\n//Get Config Details\nmsg.config = {};\n\nfor(var x in msg.payload.data){\n    msg.config[msg.payload.data[x].label] = msg.payload.data[x].value;\n}\n\nmsg.todo = {\n    connectionType:msg.config.ww_connection_type,\n    reqType:msg.config.ww_req_type,\n    data:{\n        credentialsBase64:\"\",\n        wwToken:msg.config.ww_token,\n        wwUsername:\"CN=\" + username + \"/O=Intec\",\n        record:{\n            metaversalId: \"\",\n            author: username,\n            storeId: msg.config.todo_store_id,\n            taskName: msg.wc.context.taskName,\n            description: msg.wc.context.description,\n            dueDate: msg.wc.context.dueDate,\n            priority: msg.wc.context.priority,\n            assignedTo: msg.wc.context.assignedTo,\n            status: msg.config.ww_default_status\n        }\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 420,
        "wires": [
            [
                "98530f65.9a81f8"
            ]
        ]
    },
    {
        "id": "277b1376.d36dc4",
        "type": "keywords",
        "z": "ea466807.4bb71",
        "server": "4cf55607.14ed48",
        "actionType": "1",
        "recordId": "",
        "profileKey": "todo_config",
        "groupName": "",
        "labelKey": "",
        "valueKey": "",
        "sortBy": "",
        "name": "WC: S1-Config",
        "x": 780,
        "y": 460,
        "wires": [
            [
                "75970d73.f3aab4"
            ]
        ]
    },
    {
        "id": "46f377ac.d36448",
        "type": "function",
        "z": "ea466807.4bb71",
        "name": "WC: S1-Prep Web Socket",
        "func": "msg.ws = {\n    event: msg.config.ww_web_socket_event,\n    data:{\n\t    reqType: msg.config.ww_web_socket_req_type,\n\t    success: true,\n    \tmessages: [],\n\t    data: [msg.payload] \n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 520,
        "wires": [
            [
                "978241bd.7cb51"
            ]
        ]
    },
    {
        "id": "f545a9a2.20cbd",
        "type": "function",
        "z": "2f33eb92.2e8b5c",
        "name": "TDWS-Prep",
        "func": "var ws = {\n    event: \"to-do-app-response\",\n    data:{\n        reqType: \"7\",\n        success: true,\n        messages: [],\n        data: msg.payload.data\n    }        \n};\n\nmsg.payload = {\n    data:JSON.stringify(msg.ws)\n};\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 40,
        "wires": [
            [
                "d2a5f752.985eb"
            ]
        ]
    },
    {
        "id": "978241bd.7cb51",
        "type": "subflow:2f33eb92.2e8b5c",
        "z": "ea466807.4bb71",
        "x": 1230,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "d2a5f752.985eb",
        "type": "connectors",
        "z": "2f33eb92.2e8b5c",
        "server": "4cf55607.14ed48",
        "profileKey": "todo_ws",
        "routeKey": "execute",
        "name": "TDWS-Connector",
        "x": 390,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "b3b7fdb5.4a9398",
        "type": "inject",
        "z": "c5f41c08.1c033",
        "name": "",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 540,
        "wires": [
            [
                "46cea19b.97eb3"
            ]
        ]
    },
    {
        "id": "46cea19b.97eb3",
        "type": "subflow:2f33eb92.2e8b5c",
        "z": "c5f41c08.1c033",
        "name": "",
        "x": 310,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "d0e55db7.d55138",
        "type": "inject",
        "z": "c5f41c08.1c033",
        "name": "",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 660,
        "wires": [
            [
                "3284d5b.737d8aa"
            ]
        ]
    },
    {
        "id": "3284d5b.737d8aa",
        "type": "http request",
        "z": "c5f41c08.1c033",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://13.82.82.246:9080/productpage",
        "tls": "",
        "x": 270,
        "y": 660,
        "wires": [
            [
                "f2e55539.03e908"
            ]
        ]
    },
    {
        "id": "f2e55539.03e908",
        "type": "debug",
        "z": "c5f41c08.1c033",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 470,
        "y": 660,
        "wires": []
    },
    {
        "id": "fd72e394.74984",
        "type": "http response",
        "z": "25a3a915.5de646",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 410,
        "y": 780,
        "wires": []
    },
    {
        "id": "623ea77e.6c37b8",
        "type": "function",
        "z": "9bf120f3.c43a3",
        "name": "Parse JSON to Object",
        "func": "msg = {\n    payload: JSON.parse(msg.payload)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 660,
        "wires": [
            [
                "c13472b9.a899c"
            ]
        ]
    },
    {
        "id": "a678a9d2.d6bc28",
        "type": "http request",
        "z": "9bf120f3.c43a3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "https://a.wunderlist.com/api/v1/tasks?list_id=345371743",
        "tls": "",
        "x": 430,
        "y": 660,
        "wires": [
            [
                "623ea77e.6c37b8"
            ]
        ]
    },
    {
        "id": "c422d907.bf3938",
        "type": "function",
        "z": "9bf120f3.c43a3",
        "name": "Set Headers",
        "func": "msg = {\n    headers:{\n        \"X-Client-ID\": 'c5d12f9201850c50d027',\n        \"X-Access-Token\": '31e8d3bd5560fdad0d60ec0750b07d1160fe570d7a2decad02fc2582dcaf'\n        \n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 660,
        "wires": [
            [
                "a678a9d2.d6bc28"
            ]
        ]
    },
    {
        "id": "c13472b9.a899c",
        "type": "change",
        "z": "9bf120f3.c43a3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "taskTitle",
                "pt": "msg",
                "to": "payload[0].title",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "a7715a77.5f75a8",
        "type": "connectors",
        "z": "25a3a915.5de646",
        "server": "fba96c43.dba4d",
        "profileKey": "req_wunderlist",
        "routeKey": "get_completed_tasks",
        "name": "Get Completed Tasks",
        "x": 360,
        "y": 320,
        "wires": [
            [
                "359cc905.4fc936"
            ]
        ]
    },
    {
        "id": "51b1e066.71902",
        "type": "comment",
        "z": "25a3a915.5de646",
        "name": "Refreshes Content of UI and sends HTTP request for new content",
        "info": "",
        "x": 250,
        "y": 60,
        "wires": []
    },
    {
        "id": "a511e123.d3d92",
        "type": "comment",
        "z": "25a3a915.5de646",
        "name": "Gets Request sent from Refresh button and sends Response back",
        "info": "",
        "x": 260,
        "y": 180,
        "wires": []
    },
    {
        "id": "c5a1a928.b51a28",
        "type": "connectors",
        "z": "25a3a915.5de646",
        "server": "fba96c43.dba4d",
        "profileKey": "req_wunderlist",
        "routeKey": "req_tasks_specific_list",
        "name": "Get Active Tasks",
        "x": 350,
        "y": 360,
        "wires": [
            [
                "3d5a5831.d3af58"
            ]
        ]
    },
    {
        "id": "359cc905.4fc936",
        "type": "change",
        "z": "25a3a915.5de646",
        "name": "Payload Length | Topic",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.length",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Completed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 320,
        "wires": [
            [
                "70f39a2e.489a54"
            ]
        ]
    },
    {
        "id": "3d5a5831.d3af58",
        "type": "change",
        "z": "25a3a915.5de646",
        "name": "Payload Length | Topic",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.length",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Active",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 360,
        "wires": [
            [
                "70f39a2e.489a54"
            ]
        ]
    },
    {
        "id": "70f39a2e.489a54",
        "type": "ui_chart",
        "z": "25a3a915.5de646",
        "name": "",
        "group": "6c0987aa.aad8a8",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Active vs Completed Tasks",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Refresh Please",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#f80c35",
            "#0000fb",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 820,
        "y": 340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e37fba6a.73eee8",
        "type": "ui_button",
        "z": "25a3a915.5de646",
        "name": "",
        "group": "756af165.83cbc",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 100,
        "wires": [
            [
                "de6d2b63.ae1528"
            ]
        ]
    },
    {
        "id": "b5a1f49c.bbc3a8",
        "type": "ui_chart",
        "z": "25a3a915.5de646",
        "name": "Active / Responsible Person",
        "group": "d0913ab.fd7e5c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Active Tasks for Responsible Person",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 940,
        "y": 560,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9ec3893d.df0008",
        "type": "ui_chart",
        "z": "25a3a915.5de646",
        "name": "Completed / Responsible Person",
        "group": "c12d9644.537918",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Completed Tasks for Responsible Person",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 960,
        "y": 460,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "10f71f4.db398e1",
        "type": "connectors",
        "z": "25a3a915.5de646",
        "server": "fba96c43.dba4d",
        "profileKey": "req_wunderlist",
        "routeKey": "get_completed_tasks",
        "name": "Get Completed Tasks / RP",
        "x": 700,
        "y": 420,
        "wires": [
            [
                "1925a1b7.66c56e"
            ]
        ]
    },
    {
        "id": "3e6f25f0.d39d5a",
        "type": "connectors",
        "z": "25a3a915.5de646",
        "server": "fba96c43.dba4d",
        "profileKey": "req_wunderlist",
        "routeKey": "get_list_users",
        "name": "Get Users",
        "x": 320,
        "y": 420,
        "wires": [
            [
                "cf639296.b312d"
            ]
        ]
    },
    {
        "id": "cf639296.b312d",
        "type": "change",
        "z": "25a3a915.5de646",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "users",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 420,
        "wires": [
            [
                "10f71f4.db398e1"
            ]
        ]
    },
    {
        "id": "1925a1b7.66c56e",
        "type": "change",
        "z": "25a3a915.5de646",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tasks",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 420,
        "wires": [
            [
                "64b0d868.21afb8"
            ]
        ]
    },
    {
        "id": "64b0d868.21afb8",
        "type": "link out",
        "z": "25a3a915.5de646",
        "name": "CompletedTasks / RP",
        "links": [
            "a0c566e.9292698"
        ],
        "x": 1035,
        "y": 420,
        "wires": []
    },
    {
        "id": "a0c566e.9292698",
        "type": "link in",
        "z": "25a3a915.5de646",
        "name": "",
        "links": [
            "64b0d868.21afb8"
        ],
        "x": 275,
        "y": 460,
        "wires": [
            [
                "4019a803.7110e8"
            ]
        ]
    },
    {
        "id": "4019a803.7110e8",
        "type": "function",
        "z": "25a3a915.5de646",
        "name": "Set Amounts for Each User",
        "func": "for(var x = 0; x < msg.users.length; x++){\n    msg.unassigned = {amount: 0};\n    msg.users[x].amount = 0;\n    for(var i = 0; i < msg.tasks.length; i++){\n        if(msg.tasks[i].assignee_id === msg.users[x].id){\n            msg.users[x].amount++;\n        }\n        if(!msg.tasks[i].assignee_id){\n            msg.unassigned.amount++;\n        }\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 460,
        "wires": [
            [
                "e3b88337.81016"
            ]
        ]
    },
    {
        "id": "e3b88337.81016",
        "type": "function",
        "z": "25a3a915.5de646",
        "name": "Create Chart Stored Data",
        "func": "chart_labels = [];\nchart_data = [[]];\nchart_series = [\"Completed\"]\n\nchart_data[0].push(msg.unassigned.amount);\nchart_labels.push(\"Unassigned\");\n\nfor(var i = 0; i < msg.users.length; i++){\n    chart_data[0].push(msg.users[i].amount);   \n}\n\nfor(var i = 0; i < msg.users.length; i++){\n    chart_labels.push(msg.users[i].name); \n}\n\n\nmsg.payload = [{\n    series: chart_series,\n    data: chart_data,\n    labels: chart_labels\n}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 460,
        "wires": [
            [
                "9ec3893d.df0008"
            ]
        ]
    },
    {
        "id": "5987b955.f31068",
        "type": "change",
        "z": "25a3a915.5de646",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "users",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 520,
        "wires": [
            [
                "cc6c58fa.f870b8"
            ]
        ]
    },
    {
        "id": "41b8e6ea.e70f88",
        "type": "change",
        "z": "25a3a915.5de646",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tasks",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 520,
        "wires": [
            [
                "9b2e096d.f82d18"
            ]
        ]
    },
    {
        "id": "9b2e096d.f82d18",
        "type": "link out",
        "z": "25a3a915.5de646",
        "name": "CompletedTasks / RP",
        "links": [
            "86d8d117.94225"
        ],
        "x": 995,
        "y": 520,
        "wires": []
    },
    {
        "id": "86d8d117.94225",
        "type": "link in",
        "z": "25a3a915.5de646",
        "name": "",
        "links": [
            "9b2e096d.f82d18"
        ],
        "x": 275,
        "y": 560,
        "wires": [
            [
                "d3b92a0d.adf408"
            ]
        ]
    },
    {
        "id": "d3b92a0d.adf408",
        "type": "function",
        "z": "25a3a915.5de646",
        "name": "Set Amounts for Each User",
        "func": "for(var x = 0; x < msg.users.length; x++){\n    msg.unassigned = {amount: 0};\n    msg.users[x].amount = 0;\n    for(var i = 0; i < msg.tasks.length; i++){\n        if(msg.tasks[i].assignee_id === msg.users[x].id){\n            msg.users[x].amount++;\n        }  \n        if(!msg.tasks[i].assignee_id){\n            msg.unassigned.amount++;\n        }\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 560,
        "wires": [
            [
                "323e732f.c8654c"
            ]
        ]
    },
    {
        "id": "323e732f.c8654c",
        "type": "function",
        "z": "25a3a915.5de646",
        "name": "Create Chart Stored Data",
        "func": "chart_labels = [];\nchart_data = [[]];\nchart_series = [\"Active\"];\n\nchart_data[0].push(msg.unassigned.amount);\nchart_labels.push(\"Unassigned\");\n\nfor(var i = 0; i < msg.users.length; i++){\n    chart_data[0].push(msg.users[i].amount);   \n}\n\nfor(var i = 0; i < msg.users.length; i++){\n    chart_labels.push(msg.users[i].name); \n}\n\n\nmsg.payload = [{\n    series: chart_series,\n    data: chart_data,\n    labels: chart_labels\n}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 560,
        "wires": [
            [
                "b5a1f49c.bbc3a8"
            ]
        ]
    },
    {
        "id": "cc6c58fa.f870b8",
        "type": "connectors",
        "z": "25a3a915.5de646",
        "server": "fba96c43.dba4d",
        "profileKey": "req_wunderlist",
        "routeKey": "req_tasks_specific_list",
        "name": "Get Active Tasks / RP",
        "x": 680,
        "y": 520,
        "wires": [
            [
                "41b8e6ea.e70f88"
            ]
        ]
    },
    {
        "id": "9b90755e.8917e8",
        "type": "connectors",
        "z": "25a3a915.5de646",
        "server": "fba96c43.dba4d",
        "profileKey": "req_wunderlist",
        "routeKey": "get_list_users",
        "name": "Get Users",
        "x": 320,
        "y": 520,
        "wires": [
            [
                "5987b955.f31068"
            ]
        ]
    },
    {
        "id": "8688b679.610458",
        "type": "ui_chart",
        "z": "25a3a915.5de646",
        "name": "Overdue / Responsible Person",
        "group": "98b217fb.c0d698",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Overdue Tasks for Responsible Person",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 950,
        "y": 700,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4dc5cc90.5f5d44",
        "type": "change",
        "z": "25a3a915.5de646",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "users",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 620,
        "wires": [
            [
                "4c6b268c.455638"
            ]
        ]
    },
    {
        "id": "3ef45515.58191a",
        "type": "change",
        "z": "25a3a915.5de646",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tasks",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 620,
        "wires": [
            [
                "cfdac23c.3e063"
            ]
        ]
    },
    {
        "id": "cfdac23c.3e063",
        "type": "link out",
        "z": "25a3a915.5de646",
        "name": "CompletedTasks / RP",
        "links": [
            "5dd9ccc.dd60a34"
        ],
        "x": 975,
        "y": 620,
        "wires": []
    },
    {
        "id": "5dd9ccc.dd60a34",
        "type": "link in",
        "z": "25a3a915.5de646",
        "name": "",
        "links": [
            "cfdac23c.3e063"
        ],
        "x": 275,
        "y": 660,
        "wires": [
            [
                "5e550519.701c6c"
            ]
        ]
    },
    {
        "id": "531f09c4.c3c808",
        "type": "function",
        "z": "25a3a915.5de646",
        "name": "Set Amounts for Each User",
        "func": "var todayDate = new Date(msg.payload);\n\nfor(var x = 0; x < msg.users.length; x++){\n    msg.unassigned = {amount: 0};\n    msg.users[x].amount = 0;\n    \n    for(var i = 0; i < msg.tasks.length; i++){\n        var tmp_date = new Date(msg.tasks[i].due_date);\n\n        if(tmp_date.getTime() < todayDate.getTime()){\n            if(msg.tasks[i].assignee_id === msg.users[x].id){\n                msg.users[x].amount++;\n            }else if(!msg.tasks[i].assignee_id){\n                msg.unassigned.amount++;\n            }             \n        }      \n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 700,
        "wires": [
            [
                "bbb0fee4.6b529"
            ]
        ]
    },
    {
        "id": "bbb0fee4.6b529",
        "type": "function",
        "z": "25a3a915.5de646",
        "name": "Create Chart Stored Data",
        "func": "chart_labels = [];\nchart_data = [[]];\nchart_series = [\"Overdue\"];\n\nchart_data[0].push(msg.unassigned.amount);\nchart_labels.push(\"Unassigned\");\n\nfor(var i = 0; i < msg.users.length; i++){\n    chart_data[0].push(msg.users[i].amount);   \n}\n\nfor(var i = 0; i < msg.users.length; i++){\n    chart_labels.push(msg.users[i].name); \n}\n\n\nmsg.payload = [{\n    series: chart_series,\n    data: chart_data,\n    labels: chart_labels\n}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 700,
        "wires": [
            [
                "8688b679.610458"
            ]
        ]
    },
    {
        "id": "4c6b268c.455638",
        "type": "connectors",
        "z": "25a3a915.5de646",
        "server": "fba96c43.dba4d",
        "profileKey": "req_wunderlist",
        "routeKey": "req_tasks_specific_list",
        "name": "Get Active Tasks",
        "x": 670,
        "y": 620,
        "wires": [
            [
                "3ef45515.58191a"
            ]
        ]
    },
    {
        "id": "f5213317.87e22",
        "type": "connectors",
        "z": "25a3a915.5de646",
        "server": "fba96c43.dba4d",
        "profileKey": "req_wunderlist",
        "routeKey": "get_list_users",
        "name": "Get Users",
        "x": 320,
        "y": 620,
        "wires": [
            [
                "4dc5cc90.5f5d44"
            ]
        ]
    },
    {
        "id": "5e568e7a.f8e35",
        "type": "utilities",
        "z": "25a3a915.5de646",
        "server": "fba96c43.dba4d",
        "actionType": "5",
        "dateTimeValue": "",
        "formatKey": "YYYY-MM-DD",
        "name": "",
        "x": 620,
        "y": 660,
        "wires": [
            [
                "3e8520a2.05dd"
            ]
        ]
    },
    {
        "id": "5e550519.701c6c",
        "type": "function",
        "z": "25a3a915.5de646",
        "name": "Pass Current Date to Utils",
        "func": "var newDate = new Date();\n\nmsg.agilite = {\n        utilities: {\n            dateTimeValue: newDate\n        }\n    }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 660,
        "wires": [
            [
                "5e568e7a.f8e35"
            ]
        ]
    },
    {
        "id": "3e8520a2.05dd",
        "type": "link out",
        "z": "25a3a915.5de646",
        "name": "Overdue / RP",
        "links": [
            "d3a0b71d.490f68"
        ],
        "x": 715,
        "y": 660,
        "wires": []
    },
    {
        "id": "d3a0b71d.490f68",
        "type": "link in",
        "z": "25a3a915.5de646",
        "name": "",
        "links": [
            "3e8520a2.05dd"
        ],
        "x": 275,
        "y": 700,
        "wires": [
            [
                "531f09c4.c3c808"
            ]
        ]
    },
    {
        "id": "4088013c.f8d87",
        "type": "http in",
        "z": "25a3a915.5de646",
        "name": "",
        "url": "/wunderlist/webhook",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 820,
        "wires": [
            [
                "e6e4244.7317458",
                "fd72e394.74984"
            ]
        ]
    },
    {
        "id": "503135de.3642cc",
        "type": "link in",
        "z": "25a3a915.5de646",
        "name": "Report Data",
        "links": [
            "92a3d09.03e5b3",
            "e6e4244.7317458",
            "a9948cdd.957b5"
        ],
        "x": 35,
        "y": 520,
        "wires": [
            [
                "a7715a77.5f75a8",
                "c5a1a928.b51a28",
                "3e6f25f0.d39d5a",
                "9b90755e.8917e8",
                "f5213317.87e22"
            ]
        ]
    },
    {
        "id": "e6e4244.7317458",
        "type": "link out",
        "z": "25a3a915.5de646",
        "name": "Run Report Data",
        "links": [
            "503135de.3642cc"
        ],
        "x": 395,
        "y": 820,
        "wires": []
    },
    {
        "id": "a9948cdd.957b5",
        "type": "link out",
        "z": "25a3a915.5de646",
        "name": "Run Report Data",
        "links": [
            "503135de.3642cc"
        ],
        "x": 315,
        "y": 100,
        "wires": []
    },
    {
        "id": "de6d2b63.ae1528",
        "type": "function",
        "z": "25a3a915.5de646",
        "name": "",
        "func": "msg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 100,
        "wires": [
            [
                "a9948cdd.957b5"
            ]
        ]
    },
    {
        "id": "e65d2f4e.022db",
        "type": "data-mapping",
        "z": "44f0046c.bdafcc",
        "server": "fba96c43.dba4d",
        "profileKey": "json_to_excel",
        "name": "",
        "x": 380,
        "y": 380,
        "wires": [
            [
                "e101cfb3.56835"
            ]
        ]
    },
    {
        "id": "f3eb7cb6.0484c",
        "type": "inject",
        "z": "44f0046c.bdafcc",
        "name": "",
        "topic": "",
        "payload": "{\"users\":[\"Armand\",\"John\",\"Mike\"],\"ages\":[\"18\",\"39\",\"23\"]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 380,
        "wires": [
            [
                "c6edc4aa.a635c8",
                "e65d2f4e.022db"
            ]
        ]
    },
    {
        "id": "e101cfb3.56835",
        "type": "debug",
        "z": "44f0046c.bdafcc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 580,
        "y": 380,
        "wires": []
    },
    {
        "id": "c6edc4aa.a635c8",
        "type": "debug",
        "z": "44f0046c.bdafcc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 390,
        "y": 460,
        "wires": []
    },
    {
        "id": "6233ec5c.4cbe94",
        "type": "data-mapping",
        "z": "44f0046c.bdafcc",
        "server": "fba96c43.dba4d",
        "profileKey": "excel_to_json",
        "name": "",
        "x": 360,
        "y": 600,
        "wires": [
            [
                "5c1b6f57.8db07"
            ]
        ]
    },
    {
        "id": "16cc3735.81c459",
        "type": "inject",
        "z": "44f0046c.bdafcc",
        "name": "",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 600,
        "wires": [
            [
                "fe0cd67e.47de48",
                "6233ec5c.4cbe94"
            ]
        ]
    },
    {
        "id": "5c1b6f57.8db07",
        "type": "debug",
        "z": "44f0046c.bdafcc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 560,
        "y": 600,
        "wires": []
    },
    {
        "id": "fe0cd67e.47de48",
        "type": "debug",
        "z": "44f0046c.bdafcc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 370,
        "y": 680,
        "wires": []
    },
    {
        "id": "4bfb00ea.f5b328",
        "type": "inject",
        "z": "c5f41c08.1c033",
        "name": "",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "dda55332.676f78"
            ]
        ]
    },
    {
        "id": "ef0a753e.ec65c8",
        "type": "connectors",
        "z": "c5f41c08.1c033",
        "server": "4cf55607.14ed48",
        "profileKey": "paul_domino_dev",
        "routeKey": "mark_overdue",
        "name": "SCHED-Connector",
        "x": 590,
        "y": 180,
        "wires": [
            [
                "dd845420.1c8208"
            ]
        ]
    },
    {
        "id": "dda55332.676f78",
        "type": "keywords",
        "z": "c5f41c08.1c033",
        "server": "4cf55607.14ed48",
        "actionType": "1",
        "recordId": "",
        "profileKey": "todo_config",
        "groupName": "",
        "labelKey": "",
        "valueKey": "",
        "sortBy": "",
        "name": "SCHED: S1-Config",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "4e7a6919.1801f"
            ]
        ]
    },
    {
        "id": "4e7a6919.1801f",
        "type": "function",
        "z": "c5f41c08.1c033",
        "name": "SCHED: S1-Prep 1",
        "func": "var username = \"\";\nvar wwToken = \"\";\n\n//Get Config Details\nmsg.config = {};\n\nfor(var x in msg.payload.data){\n    msg.config[msg.payload.data[x].label] = msg.payload.data[x].value;\n}\n\nmsg.todo = {\n    reqType: 9,\n    data: {\n        credentialsBase64:\"\",\n        wwToken:msg.config.ww_token,\n        wwUsername:\"CN=Paul Withers/O=Intec\",\n        updateUrl: \"http://52.170.159.221:30011/api/receiveSchedUpdates\"\n    }\n};\n\nmsg.payload = msg.todo.data;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "ef0a753e.ec65c8"
            ]
        ]
    },
    {
        "id": "dd845420.1c8208",
        "type": "function",
        "z": "c5f41c08.1c033",
        "name": "SCHED-Finalize",
        "func": "if(msg.agilite.success){\n    try {\n      if(msg.payload.substring(0, 1) === \"<\"){\n        return node.error(\"Incorrect Username/Password. Please try again\", msg);\n      }  \n    } catch (error) {}    \n    \n    msg.success = msg.payload.success;\n    \n    return msg;    \n}else{\n    return node.error(msg.agilite.messages[0], msg);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "97215fae.bd488",
        "type": "http in",
        "z": "c5f41c08.1c033",
        "name": "",
        "url": "/receiveSchedUpdates",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "364420f8.e8f908"
            ]
        ]
    },
    {
        "id": "32eb1d79.84cd42",
        "type": "function",
        "z": "c5f41c08.1c033",
        "name": "SCHED: S2-Prep-2",
        "func": "//Get Config Details\nmsg.config = {};\n\nfor(var x in msg.payload.data){\n    msg.config[msg.payload.data[x].label] = msg.payload.data[x].value;\n}\n\nmsg.ws = {\n    event: msg.config.ww_web_socket_event,\n    data:{\n\t    reqType: msg.config.ww_web_socket_req_type,\n\t    success: true,\n    \tmessages: [],\n\t    data: msg.todo.data \n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 420,
        "wires": [
            [
                "33d787e.af96a78"
            ]
        ]
    },
    {
        "id": "21621e32.bfde12",
        "type": "keywords",
        "z": "c5f41c08.1c033",
        "server": "4cf55607.14ed48",
        "actionType": "1",
        "recordId": "",
        "profileKey": "todo_config",
        "groupName": "",
        "labelKey": "",
        "valueKey": "",
        "sortBy": "",
        "name": "SCHED: S1-Config",
        "x": 710,
        "y": 340,
        "wires": [
            [
                "32eb1d79.84cd42"
            ]
        ]
    },
    {
        "id": "364420f8.e8f908",
        "type": "function",
        "z": "c5f41c08.1c033",
        "name": "SCHED: S2-Prep 1",
        "func": "// Create object so we don't fail\nmsg.todo = {\n    reqType: 9,\n};\n\n//Create objects\nvar resultData = [];\n\nfor(var x in msg.payload){\n    var obj = {\n        _id: msg.payload[x].metaversalId,\n        data: msg.payload[x]\n    }\n    resultData.push(obj);\n}\n\nmsg.todo = {\n    reqType: 9,\n    data: resultData\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 340,
        "wires": [
            [
                "21621e32.bfde12"
            ]
        ]
    },
    {
        "id": "904d91c6.df27e8",
        "type": "link out",
        "z": "c5f41c08.1c033",
        "name": "Run AF-Process Result",
        "links": [
            "8e7ef975.056728"
        ],
        "x": 655,
        "y": 420,
        "wires": []
    },
    {
        "id": "33d787e.af96a78",
        "type": "subflow:2f33eb92.2e8b5c",
        "z": "c5f41c08.1c033",
        "x": 470,
        "y": 420,
        "wires": [
            [
                "904d91c6.df27e8"
            ]
        ]
    },
    {
        "id": "b63a7fbb.766118",
        "type": "comment",
        "z": "c5f41c08.1c033",
        "name": "Mark Overdue",
        "info": "",
        "x": 120,
        "y": 140,
        "wires": []
    },
    {
        "id": "42626942.853138",
        "type": "comment",
        "z": "c5f41c08.1c033",
        "name": "Receive Mark Overdue Responses",
        "info": "",
        "x": 190,
        "y": 300,
        "wires": []
    }
]